{% macro discount() %}
<span class="label program-type-label"><i class="fa fa-fw fa-dollar"></i> Discount</span>
{% endmacro %}

{% macro freeTime() %}
<span class="label program-type-label"><i class="fa fa-fw fa-calendar"></i> Free Time</span>
{% endmacro %}

{% macro feature() %}
<span class="label program-type-label"><i class="fa fa-fw fa-cogs"></i> Feature</span>
{% endmacro %}

{% macro credit() %}
<span class="label program-type-label"><i class="fa fa-fw fa-bank"></i> Credit</span>
{% endmacro %}

{% macro sectionBreak() %}
<div class="apidocs-section-break">&nbsp;</div>
{% endmacro %}



{% macro exampleCurl(name, exampleRequest, exampleResponse) %}
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#" data-toggle="tab" data-target=".curl-example-request-{{name}}">Example Request</a></li>
        <li><a href="#" data-toggle="tab" data-target=".curl-example-response-{{name}}">Example Response</a></li>
    </ul>
    
    <div class="tab-content">
        <div class="tab-pane active curl-example-request-{{name}}">
            <pre class="prettyprint lang-curl">{{exampleRequest | safe }}</pre>
        </div>
        <div class="tab-pane curl-example-response-{{name}}">
            <pre class="prettyprint lang-json">{{exampleResponse | safe }}</pre>
        </div>
    </div>
</div>
{% endmacro %}


{% macro webhookMethods() %}


{% endmacro %}

{% macro apiSummaryTable() %}
    
    {% set apiMethodArray =
        [
           ["GET",    "/api/v1/{TENANT_ALIAS}/code/{CODE}", "get_code", "Lookup a referral code"],
           ["POST",   "/api/v1/{TENANT_ALIAS}/accountsync", "account_sync", "Update an account "],
    
           ["GET",    "/api/v1/{TENANT_ALIAS}/reward/balance", "list_balances", "List reward balances"],
           ["POST",   "/api/v1/{TENANT_ALIAS}/credit/bulkredeem", "debit_balance", "Debit a reward balance"],
            
           ["GET",    "/api/v1/{TENANT_ALIAS}/reward", "list_rewards", "List an account's rewards"],
           ["POST",   "/api/v1/{TENANT_ALIAS}/credit/{ID}/redeem", "debit_reward", "Redeem a single reward"],
    
           ["GET",    "/api/v1/{TENANT_ALIAS}/discount/{CODE}", "get_coupon", "Lookup a discount code"],
           ["POST",   "/api/v1/{TENANT_ALIAS}/discount", "set_coupon", "Set a discount code"],
           ["GET",    "/api/v1/{TENANT_ALIAS}/account/{ACCOUNT_ID}/discount", "get_account_reward", "Lookup an account's discount"],
    
           ["POST",   "/api/v1/{TENANT_ALIAS}/subscription",       "create_webhook", "Create a webhook subscription"],
           ["DELETE", "/api/v1/{TENANT_ALIAS}/subscription/{URL}", "delete_webhook", "Delete a webhook subscription"],
           ["GET",    "/api/v1/{TENANT_ALIAS}/subscription",       "list_webhooks",  "List webhook subscriptions"]
        ]
    %}

<table class="table">
    <thead>
        <tr>
            <th>
                Method
            </th>
            <th>
                Route
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        {% for method in apiMethodArray %}
            <tr>
                <td>
                    {{method[0]}}
                </td>
                <td class="docs-monospace">
                    {{method[1]}}
                </td>
                <td>
                    <a href="/api/methods#{{method[2]}}">{{method[3]}}</a>
                </td>
            </tr>
       {% endfor %}
    </tbody>
</table>
{% endmacro %}