<table class="table">
    <thead>
        <tr>
            <th>
                Method
            </th>
            <th>
                Route
            </th>
            <th>
                Description
            </th>
            <th>
                Auth
            </th>
            <th>
                Tags
            </th>
        </tr>
    </thead>
    <tbody>
        {% for path in swagger.paths %}
            {% set methodPath = loop.key %}
            {% for method in path %}
            {% set httpMethod = loop.key %}
                <tr>
                    <td>
                        {{httpMethod | upper}}
                    </td>
                    <td class="docs-monospace">
                        {{swagger.basePath}}{{methodPath}}
                    </td>
                    <td>
                        <a href="/api/methods#{{method.operationId}}">{{method.summary}}</a>
                    </td>
                    <td>
                        {% for sec in method.security %}
                          {% set secName = method.security[loop.key] %}
                          
                          {% for secScope in sec %}
                              <span class="label">{{secName}}:{{secScope}}</span>
                          {% endfor %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for tag method.tags %}
                          <span class="label">{{tag}}</span>
                        {% endfor %}
                    </td>

                </tr>
           {% endfor %}
       {% endfor %}
    </tbody>
</table>