<table class="table">
    <thead>
        <tr>
            <th>
                Method
            </th>
            <th>
                Route
            </th>
            <th>
                Description
            </th>
            <th>
                Auth
            </th>
            <th>
                Tags
            </th>
        </tr>
    </thead>
    <tbody>
        {% for path in swagger.paths %}
            {% set methodPath = loop.key %}
            {% for method in path %}
            {% set httpMethod = loop.key %}
                <tr>
                    <td>
                        {{httpMethod | upper}}
                    </td>
                    <td class="docs-monospace">
                        {{swagger.basePath}}{{methodPath}}
                    </td>
                    <td>
                        <a href="/api/methods#{{method['x-docs-anchor']}}" class="nav-onpage">{{method.summary}}</a>
                    </td>
                    <td>
                        {% for sec in method.security %}
                          {% for secScopes in sec %}
                              {% set secName = loop.key %}
                              {% if secScopes.length %}
                                  {% for scope in secScopes %}
                                  <span class="label">{{secName}}:{{scope}}</span>
                                  {% endfor %}
                              {% else %}
                                  <span class="label">{{secName}}</span>
                              {% endif %}
                          {% endfor %}
                        {% endfor %}
                        {% if method.security.length < 1 %}
                            <span class="label">Unauthenticated</span>
                        {% endif %}
                    </td>
                    <td>
                        {% for tag method.tags %}
                          <span class="label">{{tag}}</span>
                        {% endfor %}
                    </td>

                </tr>
           {% endfor %}
       {% endfor %}
    </tbody>
</table>