{% for methodList in methodsByTag %}


{% set tag = loop.key %}


<li>
    <span>
        {{tag}}
    </span>
    <ul class="Vertical nav-onpage">

    {% for pathList in methodList %}
        {% for path in pathList %}
            {% set methodPath = loop.key %}
            {% for method in path %}
            {% set httpMethod = loop.key %}
        
                <li>
                    <a href="/api/methods#{{method['x-docs-anchor']}}">
                        <span class="label docs-label-{{httpMethod|lower}}">{{httpMethod | upper}}</span>
                        {{method.summary}}
                        
                        {% if method.tags.indexOf('Open Endpoint') > -1 %}
                            <span class="label pull-right">Open Endpoint</span>
                        {% endif %}
                    </a>
                </li>
    
           {% endfor %}
        {% endfor %}
    {% endfor %}
    </ul>
</li>