<footer id="footer" data-swiftype-index="false">
    <section class="copyright">
        <div class="container">
            <div class="row-fluid docs-footer-menu">
                <div class="span2">
                    <ul style="list-style-type: none; color:white; font-weight:300;">
                        <li>Product</li>
                        <li><a href="http://www.referralsaasquatch.com/pricing">Pricing</a></li>
                        <li class="active"><a href="http://www.referralsaasquatch.com/#features">Features</a></li>
                        <li><a href="http://docs.referralsaasquatch.com">Documentation</a></li>
                        <li><a href="http://docs.referralsaasquatch.com/api">API</a></li>
                    </ul>
                </div>
                <div class="span2">
                    <ul style="list-style-type: none; color:white; font-weight:300;">
                        <li>Company</li>
                        <li><a href="http://www.referralsaasquatch.com/about">About</a></li>
                        <li><a href="http://www.referralsaasquatch.com/partners">Partners</a></li>
                        <li><a href="http://www.referralsaasquatch.com/media">Media</a></li>
                        <li><a href="http://www.referralsaasquatch.com/careers">Careers</a></li>
                        <li><a href="http://www.referralsaasquatch.com/contact-us">Contact Us</a></li>
                    </ul>
                </div>
                <div class="span2">
                    <ul style="list-style-type: none; color:white; font-weight:300;">
                        <li>Education</li>
                        <li><a href="http://www.referralsaasquatch.com/resources">Resources</a></li>
                        <li><a href="http://www.referralsaasquatch.com/customers">Customers</a></li>
                        <li><a href="http://www.referralsaasquatch.com/blog">Blog</a></li>
                    </ul>
                </div>
                <div class="span2">
                    <ul style="list-style-type: none; color:white; font-weight:300;">
                        <li>Legal</li>
                        <li><a href="http://www.referralsaasquatch.com/terms-of-service">Terms of Service</a></li>
                        <li><a href="http://www.referralsaasquatch.com/privacy-policy">Privacy Policy</a></li>
                        <li><a href="http://www.referralsaasquatch.com/terms-of-use">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="span2">
                </div>
                <div class="span2">
                    <ul style="list-style-type: none; color:white; font-weight:300;">
                        <li>Login</li>
                        <li><a href="https://app.referralsaasquatch.com/">Login</a></li>
                        <li><a href="http://www.referralsaasquatch.com/sign-up">Sign Up</a></li>
                        <li><a href="http://www.referralsaasquatch.com/demo-request">Request Demo</a></li>
                    </ul>
                </div>
            </div>
            <div class="span12 text-center" style="color: white; margin-left:0px;">
                <p style="opacity:0.7; ">Copyright © <script type="text/javascript">document.write(new Date().getFullYear());</script> Referral SaaSquatch.com. All rights reserved.</p>
                <p style="opacity:0.7; " class="hidden-phone" >838 Fort St, Victoria, British Columbia, V8W 1H8, Canada</p>
            </div>

        </div>
    </section>
</footer>