<nav id="my-menu">
    <ul class="baseMenu">
        <!-- <li class="mainSite">
          <a href="/">
            <div class="logo">
              <img src="/assets/images/saasquatchname.png">
            </div>
          </a>
        </li> -->
        <div class="main-site-logo">
          <a href="https://www.referralsaasquatch.com/">
            <img src="/assets/images/saasquatchname.png">
          </a>
        </div>
        <div class="help-center-logo">
          <a href="/">
            <img src="/assets/images/helpcenter.png">
          </a>
        </div>
        <div class="docs-searchbox-full">
            <form class="js-search-form form-search" action="/search/">
              <div class="input-append">
                <input type="text" class="search-query" placeholder="Search" name="q">
              </div>
            </form>
        </div>
        <li class="successCenter">
            <span>
                <i class="fa fa-fw fa-line-chart"></i> Success Center <br>
            </span>
            <ul>
                <li class="mainSite">
                  <a href="#" class="not-active">
                    <div class="logo">
                      <img src="/assets/images/helpcenterlogo.png">
                    </div>
                  </a>
                </li>
                <div class="docs-searchbox-full">
                    <form class="js-search-form form-search" action="/search/">
                      <div class="input-append">
                        <input type="text" class="search-query" placeholder="Search" name="q">
                      </div>
                    </form>
                </div>
                <li>
                    <a href="/success/">Success Center Home
                    <br><small>Learn how to use SaaSquatch</small>
                    </a>
                </li>
                <li><a href="/integrations/"><i class="fa fa-fw fa-cubes"></i> Integrations</a></li>
                <li class="Divider">Getting Started</li>
                <li><a href="/success/intro">Referral Programs 101</a></li>
                <li><a href="/guides/morp-install">Quickstart Install Guide</a></li>
                <li>
                    <span>Additional Quickstart Resources</span>
                    <ul>
                        <li class="mainSite">
                          <a href="#" class="not-active">
                            <div class="logo">
                              <img src="/assets/images/helpcenterlogo.png">
                            </div>
                          </a>
                        </li>
                        <div class="docs-searchbox-full">
                            <form class="js-search-form form-search" action="/search/">
                              <div class="input-append">
                                <input type="text" class="search-query" placeholder="Search" name="q">
                              </div>
                            </form>
                        </div>
                        <li><a href="/guides/tealium">Tealium Tag Manager Quickstart Guide</a></li>
                        <li><a href="/guides/using-gtm/">Google Tag Manager Quickstart Guide</a></li>
                        <li><a href="/guides/hubspot">Hubspot Quickstart Guide</a></li>
                        <li><a href="/guides/squarespace">Squarespace Quickstart Guide</a></li>
                        <li><a href="/guides/unbounce">Unbounce Quickstart Guide</a></li>
                        <li class="Divider">Additional Resources</li>
                        <li><a href="/guides/integration-quickstart">Drag-and-Drop Integration Configuration</a></li>
                    </ul>
                </li>
                <li><a href="/guides/saas-intro">SaaS Referral Program Guide</a></li>
                <li><a href="/guides/mobile-intro">Mobile Referral Program Guide</a></li>
                <li class="Divider">Learn More</li>
                <li><a href="/success/core-topics">How Referral SaaSquatch Works</a></li>
                <li><a href="/success/touchpoints">Referral Marketing Channels</a></li>
                <li><a href="/success/share-options">Customizing Your Referral Program</a></li>
                <li><a href="/success/referral-security">Security Management System</a></li>
                <li><a href="/features/analytics">Analytics</a></li>
                <li class="Divider">Additional Resources</li>
                <li><a href="/success/using-referral-saasquatch">Using Referral SaaSquatch</a></li>

                <li><a href="/success/analytics-data">Understanding Your Referral Analytics Data</a></li>

                <li>
                    <span>Knowledge Base</span>
                    <ul>
                        <li class="mainSite">
                          <a href="#" class="not-active">
                            <div class="logo">
                              <img src="/assets/images/helpcenterlogo.png">
                            </div>
                          </a>
                        </li>
                        <div class="docs-searchbox-full">
                            <form class="js-search-form form-search" action="/search/">
                              <div class="input-append">
                                <input type="text" class="search-query" placeholder="Search" name="q">
                              </div>
                            </form>
                        </div>
                        <li><a href="/getting-started/">Getting Started</a></li>
                        <li><a href="/faq/">Frequently Asked Questions</a></li>
                        <li><a href="/guides/saas-outline">SaaS Referral Program Guide - Overview</a></li>
                        <li><a href="/guides/mobile-outline">Mobile Referral Program Guide - Overview</a></li>
                        <li class="Divider">Usage Examples</li>
                        <li><a href="/guides/attribute-referral">Manually Attribute a Referral</a></li>
                        <li><a href="/guides/one-time-reward">Create a One-time Reward</a></li>
                        <li><a href="/guides/manage-rewards">Manage Existing Rewards</a></li>
                        <li class="Divider">Core Topics</li>
                        <li><a href="/topics/identification">Identification</a></li>
                        <li><a href="/topics/attribution">Attribution</a></li>
                        <li><a href="/topics/conversion">Conversion</a></li>
                        <li><a href="/topics/fulfillment">Fulfillment</a></li>
                        <li><a href="/fraud-and-security">Fraud</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="developerCenter">
            <span>
                <i class="fa fa-fw fa-desktop"></i> Developer Center <br>
            </span>
            <ul>
                <li class="mainSite">
                  <a href="#" class="not-active">
                    <div class="logo">
                      <img src="/assets/images/helpcenterlogo.png">
                    </div>
                  </a>
                </li>
                <div class="docs-searchbox-full">
                    <form class="js-search-form form-search" action="/search/">
                      <div class="input-append">
                        <input type="text" class="search-query" placeholder="Search" name="q">
                      </div>
                    </form>
                </div>
                <li>
                    <a href="/developer/">
                        Dev Center Home
                        <br><small>Build on our SDKs, APIs and JS</small>
                    </a>

                <li>
                    <a href="/guides/"><i class="fa fa-fw fa-life-ring"></i> Dev Guides</a>
                    <ul>
                        <li class="mainSite">
                          <a href="#" class="not-active">
                            <div class="logo">
                              <img src="/assets/images/helpcenterlogo.png">
                            </div>
                          </a>
                        </li>
                        <div class="docs-searchbox-full">
                            <form class="js-search-form form-search" action="/search/">
                              <div class="input-append">
                                <input type="text" class="search-query" placeholder="Search" name="q">
                              </div>
                            </form>
                        </div>
                        <li class="Divider">Core Topics</li>
                        <li><a href="/developer/attribution">Attribution</a></li>
                        <li><a href="/developer/conversion">Conversion</a></li>
                        <li><a href="/developer/fulfillment">Fulfillment</a></li>

                        <li class="Divider">Examples</li>
                        <li><a href="/guides/saas-installation">SaaS Referral Program Guide - Installation</a></li>
                        <li><a href="/guides/mobile-installation">Mobile Referral Program Guide - Installation</a></li>
                        <li><a href="/developer/segment/quickstart">Segment.io Quickstart Guide</a></li>
                        <li><a href="/developer/giftbit">Giftbit Setup Guide</a></li>
                        <li><a href="/guides/dollar-credit">Give $20 credit</a></li>
                        <li><a href="/guides/percent-discount">Give 10% off</a></li>
                        <li><a href="/guides/percent-discount-nojs">Give 10% off (No JS)</a></li>
                        <li><a href="/guides/point-reward">Give 50 points</a></li>

                        <li class="Divider">Subscription System Integrations</li>
                        <li><a href="/developer/braintree">Braintree</a></li>
                        <li><a href="/developer/recurly">Recurly</a></li>
                        <li><a href="/developer/stripe">Stripe</a></li>
                        <li><a href="/developer/zuora">Zuora</a></li>


                        <li class="Divider">Tips and Tricks</li>
                        <li><a href="/topics/json-web-tokens">JSON Web Tokens</a></li>
                        <li><a href="/topics/email">Email</a></li>
                        <li><a href="/free-trials">Free trials</a></li>
                        <li><a href="/shared-vs-solo-accounts">Shared vs Solo Accounts</a></li>
                        <li><a href="/testing">Testing</a></li>
                        <li><a href="/customshortdomainguide">Custom Short Domains</a></li>

                        <li class="Divider">Best Practices</li>
                        <li><a href="/developer/referral-security">Security Management System</a></li>
                        <li><a href="/bestpractices/common-pitfalls">Common Pitfalls</a></li>
                        <li><a href="/bestpractices/buttons">Refer-a-friend buttons</a></li>
                        <li><a href="/bestpractices/speed">Page Speed</a></li>

                    </ul>
                </li>
                <li><a href="/mobile/"><i class="fa fa-fw fa-mobile"></i> Mobile</a>
                    <ul>
                        <li class="mainSite">
                          <a href="#" class="not-active">
                            <div class="logo">
                              <img src="/assets/images/helpcenterlogo.png">
                            </div>
                          </a>
                        </li>
                        <div class="docs-searchbox-full">
                            <form class="js-search-form form-search" action="/search/">
                              <div class="input-append">
                                <input type="text" class="search-query" placeholder="Search" name="q">
                              </div>
                            </form>
                        </div>
                        <li><a href="/mobile">Overview</a></li>

                        <li class="Divider">iOS</li>
                        <li><a href="/mobile/ios">iOS Overview</a></li>
                        <li><a href="/mobile/ios/quickstart">iOS Quickstart Guide</a></li>
                        <li><a href="/mobile/ios/docs-swift/Classes/Saasquatch.html">iOS Swift SDK Reference <i class="fa fa-external-link"></i></a></li>
                        <li><a href="/mobile/ios/docs-objectivec/Classes/Saasquatch/index.html">iOS Objective-C SDK Reference <i class="fa fa-external-link"></i></a></li>

                        <li class="Divider">Android</li>
                        <li><a href="/mobile/android">Android Overview</a></li>
                        <li><a href="/mobile/android/quickstart">Android Quickstart Guide</a></li>
                        <li><a href="/mobile/android/docs/com/wholepunk/saasquatch/Saasquatch.html">Android SDK Reference <i class="fa fa-external-link"></i></a></li>


                        <li class="Divider">Reference</li>
                        <li><a href="/mobile/widget">Widget</a></li>
                        <li><a href="/mobile/widget/reference">Widget Reference</a></li>

                        <li class="Divider">Integrations</li>
                        <li><a href="/mobile/branch-metrics">Branch Tutorial</a></li>
                        <li><a href="/mobile/branch-metrics/reference">Branch Tech Reference</a></li>

                    </ul>
                </li>
                <li><a href="/api/"><i class="fa fa-fw fa-desktop"></i> REST API</a>
                    <ul>
                        <li class="mainSite">
                          <a href="#" class="not-active">
                            <div class="logo">
                              <img src="/assets/images/helpcenterlogo.png">
                            </div>
                          </a>
                        </li>
                        <div class="docs-searchbox-full">
                            <form class="js-search-form form-search" action="/search/">
                              <div class="input-append">
                                <input type="text" class="search-query" placeholder="Search" name="q">
                              </div>
                            </form>
                        </div>
                        <li><a href="/api/authentication">Authentication</a></li>
                        <li><a href="/api/openendpoints">Open Endpoints</a></li>
                        <li><a href="/api/errors">Errors</a></li>
                        <li><a href="/api/webhooks">Webhooks</a></li>

                        <li class="Divider">API Reference</li>
                        <li><a href="/api/methods">Full list of Methods</a></li>
                        {% include "./apiNavigationSidebar.html" %}
                    </ul>
                </li>
                <li><a href="/developer/squatchjs"><i class="fa fa-fw fa-html5"></i> Squatch.js</a>
                    <ul>
                        <li class="mainSite">
                          <a href="#" class="not-active">
                            <div class="logo">
                              <img src="/assets/images/helpcenterlogo.png">
                            </div>
                          </a>
                        </li>
                        <div class="docs-searchbox-full">
                            <form class="js-search-form form-search" action="/search/">
                              <div class="input-append">
                                <input type="text" class="search-query" placeholder="Search" name="q">
                              </div>
                            </form>
                        </div>
                        <li><a href="/developer/squatchjs/">About Squatch.js</a></li>
                        <li><a href="/developer/squatchjs/signed-requests">Signed Requests</a></li>
                        <li><a href="/developer/segment/quickstart">Segment.io Quickstart Guide</a></li>
                        <li><a href="/developer/segment">Segment.io Integration Reference</a></li>
                        <li><a href="/developer/squatchjs/issue">Issue Code List</a></li>

                        <li class="Divider">Version 2</li>

                        <li><a href="/developer/squatchjs/v2">Version 2 Quickstart</a></li>
                        <li><a href="/developer/squatchjs/v2/advanced-use-cases">Version 2 Advanced Use Cases</a></li>
                        <li><a href="/developer/squatchjs/v2/reference">Version 2 Reference</a></li>

                        <li class="Divider">Version 1</li>

                        <li><a href="/developer/squatchjs/v1">Version 1 Quickstart</a></li>
                        <li>
                            <a href="/developer/squatchjs/v1/reference">Version 1 Reference</a>
                            <ul>
                                <li class="mainSite">
                                  <a href="#" class="not-active">
                                    <div class="logo">
                                      <img src="/assets/images/helpcenterlogo.png">
                                    </div>
                                  </a>
                                </li>
                                <div class="docs-searchbox-full">
                                    <form class="js-search-form form-search" action="/search/">
                                      <div class="input-append">
                                        <input type="text" class="search-query" placeholder="Search" name="q">
                                      </div>
                                    </form>
                                </div>
                                <li><a href="/developer/squatchjs/v1/reference">Squatch.js Version 1 Reference</a></li>
                                <li><a href="/developer/squatchjs/v1/reference#init" class="nav-onpage">init</a></li>
                                <li><a href="/developer/squatchjs/v1/reference#autofill" class="nav-onpage">autofill</a></li>
                                <li><a href="/developer/squatchjs/v1/reference#open" class="nav-onpage">open</a></li>
                                <li><a href="/developer/squatchjs/v1/reference#close" class="nav-onpage">close</a></li>
                                <li><a href="/developer/squatchjs/v1/reference#subscribe" class="nav-onpage">subscribe</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li><a href="/topics/json-web-tokens">JSON Web Tokens</a></li>
                <li><a href="/developer/testing">Testing Best Practices</a></li>
                <li>
                    <span>Additional Developer Resources</span>
                    <ul>
                        <li class="Divider">Guides</li>
                        <li><a href="/guides/percent-discount-nojs">Give 10% off (No JS)</a></li>
                        <li class="Divider">Core Topics</li>
                        <li><a href="/developer/attribution">Attribution</a></li>
                        <li><a href="/developer/conversion">Conversion</a></li>
                        <li><a href="/developer/fulfillment">Fulfillment</a></li>

                        <li class="Divider">Tips and Tricks</li>
                        <li><a href="/free-trials">Free trials</a></li>

                        <li class="Divider">Best Practices</li>
                        <li><a href="/bestpractices/common-pitfalls">Common Pitfalls</a></li>
                        <li><a href="/bestpractices/buttons">Refer-a-friend buttons</a></li>
                        <li><a href="/bestpractices/speed">Page Speed</a></li>
                    </ul>
                </li>



            </ul>
        </li>
        <li class="designerCenter">
            <span>
                <i class="fa fa-fw fa-paint-brush"></i> Designer Center <br>
            </span>
            <ul>
                <li class="mainSite">
                  <a href="#" class="not-active">
                    <div class="logo">
                      <img src="/assets/images/helpcenterlogo.png">
                    </div>
                  </a>
                </li>
                <div class="docs-searchbox-full">
                    <form class="js-search-form form-search" action="/search/">
                      <div class="input-append">
                        <input type="text" class="search-query" placeholder="Search" name="q">
                      </div>
                    </form>
                </div>
                <li>
                    <a href="/designer/">
                        Designer Center
                        <br><small>Customize to match your brand's style</small>
                    </a>
                </li>
                <li>
                    <a href="/themes/">Themes</a>
                    <ul>
                        <li class="mainSite">
                          <a href="#" class="not-active">
                            <div class="logo">
                              <img src="/assets/images/helpcenterlogo.png">
                            </div>
                          </a>
                        </li>
                        <div class="docs-searchbox-full">
                            <form class="js-search-form form-search" action="/search/">
                              <div class="input-append">
                                <input type="text" class="search-query" placeholder="Search" name="q">
                              </div>
                            </form>
                        </div>
                        <li class="Divider">Tutorials</li>
                        <li><a href="/themes/standard">Standard Themes</a></li>
                        <li><a href="/themes/custom">Custom Themes</a></li>

                        <li class="Divider">Managing Themes</li>
                        <li><a href="/themes/git">Using Git</a></li>
                        <li><a href="/themes/publish">Publishing</a></li>

                        <li class="Divider">Reference Manual</li>
                        <li><a href="/themes/templates">Templates</a></li>
                        <li><a href="/themes/assets">Assets</a></li>
                        <li><a href="/themes/fields">Fields</a></li>
                        <li><a href="/themes/helpers">Helpers</a></li>
                        <li><a href="/themes/short-tags">Short Tags</a></li>
                        <li><a href="/themes/widgetjs">widget.js</a></li>

                        <li class="Divider">Advanced</li>
                        <li><a href="/themes/variables">Variables</a></li>
                        <li><a href="/themes/emails">Emails</a></li>
                        <li><a href="/themes/internationalization">Internationalization / i18n</a></li>
                        <li><a href="/themes/integrations/crowdin">Crowdin (i18n)</a></li>
                        <li><a href="/themes/integrations/transifex">Transifex (i18n)</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="/integrations/"><i class="fa fa-fw fa-cubes"></i> Integrations</a></li>
    </ul>
</nav>
