<header id="my-header" class="navbar navbar-top" data-swiftype-index="false">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>

            <!-- Logo -->
            <a href="http://www.referralsaasquatch.com" class="brand"><img src="/assets/images/marketing-website/RS-Logo-Head-Long-small-2.png" alt="Referral SaaSquatch Logo" title="Referral SaaSquatch"></a>

            <!-- Navigation -->
            <div class="nav-collapse collapse" id="navigation">
                <ul id="menu-primary-navigation" class="nav">
                    <li id="menu-item-1759" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1759"><a href="http://www.referralsaasquatch.com/resources/">Resources</a></li>
                    <li id="menu-item-990" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-952 current_page_item active menu-item-990"><a href="http://docs.referralsaasquatch.com/">Documentation</a></li>
                    <li id="menu-item-1564" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1564"><a href="https://app.referralsaasquatch.com/">Login</a></li>
                    <li id="menu-item-1760" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1760"><a href="http://www.referralsaasquatch.com/#sign-up">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
