<header id="my-header">
    <div class="navbar navbar-top">
        <div class="navbar-inner">
            <div class="container-fluid">


                <button class="hamburger hamburger--collapse pull-right hidden-desktop" type="button" data-toggle="collapse" data-target="#navigation">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </button>

                <!-- Navigation -->
                <div class="nav-collapse collapse" id="navigation">
                    <ul id="menu-primary-navigation" class="nav pull-right">
                        <li><a href="http://www.referralsaasquatch.com/resources/">Resources</a></li>
                        <li><a href="/">Documentation</a></li>
                        <li><a href="https://app.referralsaasquatch.com/">Login</a></li>
                        <li><a href="http://www.referralsaasquatch.com/sign-up">Demo Request</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid hidden-desktop">
        <button class="hamburger hamburger--arrow" type="button" id="open-sidenav">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        SaaSquatch Help Center
    </div>
</header>
