<nav id="my-menu">
    <ul class="baseMenu">
        <li><a href="/"><i class="fa fa-fw fa-life-ring"></i> Referral SaaSquatch Help Center</a></li>
        <li class="successCenter">
            <span>
                <i class="fa fa-fw fa-line-chart"></i> Success Center <br>
            </span>
            <ul>
                <li>
                    <a href="/success/">Success Center Home
                    <br><small>Learn how to use Referral SaaSquatch</small>
                    </a>
                </li>
                <li><a href="/intro/">The Basics</a></li>
                <li><a href="/getting-started/">Getting Started</a></li>
                <li><a href="/faq/">Frequently Asked Questions</a></li>

                <li class="Divider">Core Topics</li>
                <li><a href="/topics/identification">Identification</a></li>
                <li><a href="/topics/attribution">Attribution</a></li>
                <li><a href="/topics/conversion">Conversion</a></li>
                <li><a href="/topics/fulfillment">Fulfillment</a></li>
                <li><a href="/fraud-and-security">Fraud</a></li>                    
            </ul>
        </li>
        <li class="developerCenter">
            <span>
                <i class="fa fa-fw fa-desktop"></i> Developer Center <br>
            </span>
            <ul>
                <li>
                    <a href="/developer/">
                        Dev Center Home
                        <br><small>Build on our SDKs, APIs and JS</small>
                    </a>
                </li>
                <li>
                    <a href="/guides/"><i class="fa fa-fw fa-life-ring"></i> Dev Guides</a>
                    <ul>
                        <li class="Divider">Core Topics</li>
                        <li><a href="/developer/attribution">Attribution</a></li>
                        <li><a href="/developer/conversion">Conversion</a></li>
                        <li><a href="/developer/fulfillment">Fulfillment</a></li>

                        <li class="Divider">Examples</li>
                        <li><a href="/guides/dollar-credit">Give $20 credit</a></li>
                        <li><a href="/guides/percent-discount">Give 10% off</a></li>
                        <li><a href="/guides/percent-discount-nojs">Give 10% off (No JS)</a></li>
                        <li><a href="/guides/point-reward">Give 50 points</a></li>

                        <li class="Divider">Subscription System Integrations</li>
                        <li><a href="/developer/braintree">Braintree</a></li>
                        <li><a href="/developer/recurly">Recurly</a></li>
                        <li><a href="/developer/stripe">Stripe</a></li>
                        <li><a href="/developer/zuora">Zuora</a></li>


                        <li class="Divider">Tips and Tricks</li>
                        <li><a href="/topics/email">Email</a></li>
                        <li><a href="/free-trials">Free trials</a></li>
                        <li><a href="/shared-vs-solo-accounts">Shared vs Solo Accounts</a></li>
                        <li><a href="/testing">Testing</a></li>
                        <li><a href="/customshortdomainguide">Custom Short Domains</a></li>

                        <li class="Divider">Best Practices</li>
                        <li><a href="/bestpractices/common-pitfalls">Common Pitfalls</a></li>
                        <li><a href="/bestpractices/buttons">Refer-a-friend buttons</a></li>
                        <li><a href="/bestpractices/speed">Page Speed</a></li>

                    </ul>
                </li>
                
                <li><a href="/mobile/"><i class="fa fa-fw fa-mobile"></i> Mobile</a>
                    <ul>
                        <li><a href="/mobile">Overview</a></li>

                        <li class="Divider">iOS</li>
                        <li><a href="/mobile/ios">iOS Overview</a></li>
                        <li><a href="/mobile/ios/quickstart">iOS Quickstart Guide</a></li>
                        <li><a href="/mobile/ios/docs-swift">iOS Swift SDK Reference <i class="fa fa-external-link"></i></a></li>
                        <li><a href="/mobile/ios/docs-objectivec">iOS Objective-C SDK Reference <i class="fa fa-external-link"></i></a></li>

                        <li class="Divider">Android</li>
                        <li><a href="/mobile/android">Android Overview</a></li>
                        <li><a href="/mobile/android/quickstart">Android Quickstart Guide</a></li>
                        <li><a href="/mobile/android/docs">Android SDK Reference <i class="fa fa-external-link"></i></a></li>


                        <li class="Divider">Reference</li>
                        <li><a href="/mobile/widget">Widget</a></li>

                        <li class="Divider">Integrations</li>
                        <li><a href="/mobile/branch-metrics">Branch Tutorial</a></li>
                        <li><a href="/mobile/branch-metrics/reference">Branch Tech Reference</a></li>

                    </ul>
                </li>
                <li><a href="/api/"><i class="fa fa-fw fa-desktop"></i> REST API</a>
                    <ul>
                        <li>
                        <li><a href="/api/authentication">Authentication</a></li>
                        <li><a href="/api/errors">Errors</a></li>
                        <li><a href="/api/webhooks">Webhooks</a></li>

                        <li class="Divider">API Reference</li>
                        <li><a href="/api/methods">Full list of Methods</a></li>
                        <li>
                            <span>Accounts</span>
                            <ul class="Vertical nav-onpage">
                                <li><a href="/api/methods#account_sync">Create or update an account</a></li>
                                <li><a href="/api/methods#get_account">Lookup an account</a></li>
                            </ul>
                        </li>
                        <li>
                            <span>Users</span>
                            <ul class="Vertical nav-onpage">
                                <!--<li><a href="/api/methods#list_users">List users</a></li>-->
                                <li><a href="/api/methods#create_user">Create or update a user</a></li>
                                <li><a href="/api/methods#get_user">Lookup a user</a></li>
                                <li><a href="/api/methods#get_user_by_referralcode">Lookup a user by referral code</a></li>
                                <li><a href="/api/methods#get_sharelinks">Lookup a user's share links</a></li>
                            </ul>
                        </li>
                        <li>
                            <span>Referral Codes</span>
                            <ul class="Vertical nav-onpage">
                                <li><a href="/api/methods#get_code">Lookup a referral code</a></li>
                            </ul>
                        </li>
                        <li>
                            <span>Referrals</span>
                            <ul class="Vertical nav-onpage">
                                <li><a href="/api/methods#list_referrals">List referrals</a></li>
                                <li><a href="/api/methods#get_referral">Lookup a referral</a></li>
                                <li><a href="/api/methods#moderate_referrals">Moderate referrals</a></li>
                            </ul>
                        </li>
                        <li>
                            <span>Reward Balances</span>
                            <ul class="Vertical nav-onpage">
                                <li><a href="/api/methods#list_balances">List reward balances</a></li>
                                <li><a href="/api/methods#debit_balance">Debit a reward balance</a></li>
                            </ul>
                        </li>
                        <li>
                            <span>Rewards</span>
                            <ul class="Vertical nav-onpage">
                                <li><a href="/api/methods#list_rewards">List an account's rewards</a></li>
                                <li><a href="/api/methods#debit_reward">Redeem a single reward</a></li>
                                <li><a href="/api/methods#create_reward">Create a reward</a></li>
                            </ul>
                        </li>
                        <li>
                            <span>Webhooks</span>
                            <ul class="Vertical nav-onpage">
                                <li><a href="/api/methods#create_webhook">Create a webhook subscription</a></li>
                                <li><a href="/api/methods#list_webhooks">List webhook subscriptions</a></li>
                                <li><a href="/api/methods#delete_webhook">Delete a webhook subscription</a></li>
                                <li><a href="/api/methods#test_webhook">Test a webhook subscription</a></li>
                            </ul>
                        </li>
                        <li>
                            <span>Themes</span>
                            <ul class="Vertical nav-onpage">
                                <li><a href="/api/methods#lookup_variables_schema">Lookup variables schema</a></li>
                                <li><a href="/api/methods#lookup_variables">Lookup variables</a></li>
                                <li><a href="/api/methods#replace_variables">Replace variables</a></li>
                                <li><a href="/api/methods#update_variables">Update variables</a></li>
                                <li><a href="/api/methods#preview_theme_email">Preview email</a></li>
                            </ul>
                        </li>
                        <li>
                            <span>Discounts</span>
                            <ul class="Vertical nav-onpage">
                                <li><a href="/api/methods#get_coupon">Lookup a discount code</a></li>
                                <li><a href="/api/methods#set_coupon">Set a discount code</a></li>
                                <li><a href="/api/methods#get_account_reward">Lookup an account's discount</a></li>
                            </ul>
                        </li>
                        <li>
                            <span>Open Endpoints</span>
                            <ul class="Vertical nav-onpage">
                                <li><a href="/api/methods#open_create_user">Create a user</a></li>
                                <li><a href="/api/methods#open_get_user">Lookup a user</a></li>
                                <li><a href="/api/methods#open_get_user_by_code">Lookup a user by referral code</a></li>
                                <li><a href="/api/methods#open_validate_code">Lookup a referral code</a></li>
                                <li><a href="/api/methods#open_apply_code">Apply a referral code</a></li>
                                <li><a href="/api/methods#open_list_referrals">List referrals</a></li>
                            </ul>
                        </li>
                        <li class="Divider">Advanced</li>
                        <li><a href="/api/openendpoints">Open Endpoints</a></li>
                    </ul>
                </li>
                <li><a href="/squatchjs/"><i class="fa fa-fw fa-html5"></i> Squatch.js</a>
                    <ul>
                        <li><a href="/app-integration">Installation</a></li>
                        <li><a href="/squatchjs/signed-requests">Signed Requests</a></li>
                        <li><a href="/developer/segment">Segment</a></li>
                        <li><a href="/squatchjs/issue">Issue Code List</a></li>

                        <li class="Divider">Methods</li>

                        <li><a href="/squatchjs#init" class="nav-onpage">init</a></li>
                        <li><a href="/squatchjs#autofill" class="nav-onpage">autofill</a></li>
                        <li><a href="/squatchjs#open" class="nav-onpage">open</a></li>
                        <li><a href="/squatchjs#close" class="nav-onpage">close</a></li>
                        <li><a href="/squatchjs#subscribe" class="nav-onpage">subscribe</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="designerCenter">
            <span>
                <i class="fa fa-fw fa-paint-brush"></i> Designer Center <br>
            </span>
            <ul>
                <li>
                    <a href="/designer/">
                        Designer Center
                        <br><small>Customize to match your brand's style</small>
                    </a>
                </li>
                <li>
                    <a href="/themes/">Themes</a>
                    <ul>
                        <li class="Divider">Tutorials</li>
                        <li><a href="/themes/standard">Standard Themes</a></li>
                        <li><a href="/themes/custom">Custom Themes</a></li>

                        <li class="Divider">Managing Themes</li>
                        <li><a href="/themes/git">Using Git</a></li>
                        <li><a href="/themes/publish">Publishing</a></li>

                        <li class="Divider">Reference Manual</li>
                        <li><a href="/themes/templates">Templates</a></li>
                        <li><a href="/themes/assets">Assets</a></li>
                        <li><a href="/themes/fields">Fields</a></li>
                        <li><a href="/themes/helpers">Helpers</a></li>
                        <li><a href="/themes/short-tags">Short Tags</a></li>
                        <li><a href="/themes/widgetjs">widget.js</a></li>

                        <li class="Divider">Advanced</li>
                        <li><a href="/themes/variables">Variables</a></li>
                        <li><a href="/themes/emails">Emails</a></li>
                        <li><a href="/themes/internationalization">Internationalization / i18n</a></li>
                        <li><a href="/themes/integrations/crowdin">Crowdin (i18n)</a></li>
                        <li><a href="/themes/integrations/transifex">Transifex (i18n)</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="/integrations/">Integrations</a></li>
    </ul>
</nav>