<!-- Rollbar error monitoring -->
<script>
    var _rollbarParams = {
        "server.environment": "production"
    };
    _rollbarParams["notifier.snippet_version"] = "2";
    var _rollbar = [window.env.ROLLBAR_ID, _rollbarParams];
    var _ratchet = _rollbar;
    (function(w, d) {
        w.onerror = function(e, u, l) {
            _rollbar.push({
                _t: 'uncaught',
                e: e,
                u: u,
                l: l
            });
        };
        var i = function() {
            var s = d.createElement("script");
            var
                f = d.getElementsByTagName("script")[0];
            s.src = "//d37gvrvc0wt4s1.cloudfront.net/js/1/rollbar.min.js";
            s.async = !0;
            f.parentNode.insertBefore(s, f);
        };
        if (w.addEventListener) {
            w.addEventListener("load", i, !1);
        }
        else {
            w.attachEvent("onload", i);
        }
    })(window, document);
</script>
<!-- End of Rollbar error monitoring -->

<!-- Start Pingdom RUM -->
<script>
    var _prum = [
        ['id', window.env.PINGDOM_ID],
        ['mark', 'firstbyte', (new Date()).getTime()]
    ];
    (function() {
        var s = document.getElementsByTagName('script')[0],
            p = document.createElement('script');
        p.async = 'async';
        p.src = '//rum-static.pingdom.net/prum.min.js';
        s.parentNode.insertBefore(p, s);
    })();
</script>
<!-- End Pingdom RUM -->

<!-- Segment.io -->
<script type="text/javascript">
    window.analytics || (window.analytics = []), window.analytics.methods = ["identify", "track", "trackLink", "trackForm", "trackClick", "trackSubmit", "page", "pageview", "ab", "alias", "ready", "group", "on", "once", "off"], window.analytics.factory = function(a) {
        return function() {
            var t = Array.prototype.slice.call(arguments);
            return t.unshift(a), window.analytics.push(t), window.analytics
        }
    };
    for (var i = 0; i < window.analytics.methods.length; i++) {
        var method = window.analytics.methods[i];
        window.analytics[method] = window.analytics.factory(method)
    }
    window.analytics.load = function(a) {
        var t = document.createElement("script");
        t.type = "text/javascript", t.async = !0, t.src = ("https:" === document.location.protocol ? "https://" : "http://") + "d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/" + a + "/analytics.min.js";
        var n = document.getElementsByTagName("script")[0];
        n.parentNode.insertBefore(t, n)
    }, window.analytics.SNIPPET_VERSION = "2.0.6",
    window.analytics.load(window.env.ANALYTICSJS_ID),
    window.analytics.page();
</script>
<!-- end Segment.io -->

<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', window.env.GA_ACCOUNT]);
    // LV: This prefixes all paths with "docs", which helps with google analytics page tracking
    _gaq.push(['_trackPageview', window.env.GA_PREFIX + document.location.pathname]);
    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>

<script>
window['_fs_debug'] = false;
window['_fs_host'] = 'www.fullstory.com';
window['_fs_org'] = '33PX3';
window['_fs_namespace'] = 'FS';
(function(m,n,e,t,l,o,g,y){
    if (e in m && m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'); return;}
    g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
    o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
    y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
    g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
    g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
    g.clearUserCookie=function(c,d,i){if(!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')){
    d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
    ';path=/;expires='+new Date(0).toUTCString();i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}};
})(window,document,window['_fs_namespace'],'script','user');
</script>