<nav id="my-menu">
  <ul class="baseMenu">
    <sidebar-header noback="true"></sidebar-header>

    <li>
      <a href="/product-news">
        <i
          style="margin-right: 1.2em;"
          class="fa fa-fw fa-bullhorn fa-1.5x"
        ></i>
        SaaSquatch Product News
      </a>
    </li>
    <li class="integrations">
      <a href="/integrations">
        <i class="fa fa-fw fa-cubes fa-1.5x"></i>
        Integrations
      </a>
    </li>
    <li class="successCenter">
      <img
        class="sqtch-icon"
        src="/assets/images/Saasquatch-icons-analytics.svg"
      />
      <span>
        Success Center
        <br />
      </span>
      <ul>
        <sidebar-header></sidebar-header>

        <li>
          <a href="/success/">
            Success Center Home
            <br />
            <small>Articles, Guides & Management Tools</small>
          </a>
        </li>
        <li>
          <span>
            <i class="fa big fas fa-info-circle fa-2x"></i>
            Learn About SaaSquatch
          </span>
          <ul>
            <sidebar-header></sidebar-header>

            <li class="Divider">Growth Automation</li>
            <li><a href="/growth/ga-101">Growth Automation 101</a></li>
            <li>
              <a href="/growth/customer-lifecycle">
                Growth Automation Customer Lifecycle
              </a>
            </li>
            <li>
              <a href="/growth/saasquatch-ga">
                SaaSquatch Growth Automation Platform
              </a>
            </li>
            <li><a href="/program/library">Program Library</a></li>
            <li><a href="/feature/rewards">Program Reward Options</a></li>
            <li>
              <a href="/success/ga-analytics">
                Analytics Overview for Growth Automation Programs
              </a>
            </li>
            <li class="Divider">Referral Programs</li>
            <li><a href="/success/intro">Referral Programs 101</a></li>
            <li>
              <a href="/success/core-topics">
                The SaaSquatch Referral Program Loop
              </a>
            </li>
            <li>
              <a href="/success/share-options">
                Referral Program Sharing Options
              </a>
            </li>
            <li><a href="/success/referral-feed">The Referral Feed</a></li>
            <li>
              <a href="/success/referral-security">
                Security Management System
              </a>
            </li>
            <li><a href="/features/analytics">Program Analytics</a></li>

            <li class="Divider">Program References</li>
            <li>
              <a href="/success/referral-program-optimization">
                Referral Program Optimization
              </a>
            </li>
            <li>
              <a href="/success/touchpoints">Referral Marketing Channels</a>
            </li>
            <li>
              <a href="/success/referral-program-retargeting">
                Referral Program Retargeting
              </a>
            </li>
            <li>
              <a href="/success/analytics-data">
                Understanding Your Program Analytics Data
              </a>
            </li>
            <li>
              <a href="/fraud-and-security">Fraud, Security & Fake Referrals</a>
            </li>
            <li><a href="/themes/custom">Custom Program Themes</a></li>
          </ul>
        </li>
        <li>
          <span>
            <i class="fa big fas fa-edit fa-2x"></i>
            Program Management
          </span>
          <ul>
            <sidebar-header></sidebar-header>

            <li>
              <a href="/guides/?isSuccessCenter=true">
                <i class="fa fa-fw fa-life-ring"></i>
                Go to SaaSquatch Guides
              </a>
            </li>
            <li class="Divider">Administration Portal</li>
            <li>
              <a href="/success/using-referral-saasquatch">
                Using the SaaSquatch Portal
              </a>
            </li>
            <li>
              <a href="/success/navigating-the-portal/">
                Navigating the SaaSquatch Portal
              </a>
            </li>
            <li>
              <a href="/guides/one-time">
                Manual User Actions: Add a Reward, Referral or Event
              </a>
            </li>
            <li>
              <a href="/guides/manage-rewards"
                >Managing Existing User Rewards</a
              >
            </li>
            <li>
              <a href="/designer/email-editor">Designing Your Program Emails</a>
            </li>
            <li>
              <a href="/designer/widget-editor">Customize Program Widgets</a>
            </li>
            <li class="Divider">Program Reference</li>
            <li>
              <a href="/growth/quickstart">
                Growth Automation Program General Quickstart
              </a>
            </li>
            <li>
              <a href="/growth/ga-mechanisms">
                Growth Automation Program Mechanisms
              </a>
            </li>
            <li>
              <a href="/guides/referral-quickstart">
                Growth Automation Referral Program - Quickstart
              </a>
            </li>
            <li>
              <a href="/developer/purchase-object">
                Growth Automation Purchase Event
              </a>
            </li>
            <li class="Divider">Program Resources</li>
            <li><a href="/features/user-segmentation">User Segmentation</a></li>
            <li>
              <a href="/features/program-i18n">Program Internationalization</a>
            </li>
            <li><a href="/success/gift-card-rewards">Gift Card Rewards</a></li>
            <li>
              <a href="/features/rewards-fuel-tank">Custom Rewards Fuel Tank</a>
            </li>
            <li>
              <a href="/designer/short-tags">Email Template Short Tags</a>
            </li>

            <li>
              <a href="/integrations">
                <i class="fa fa-fw small fa-cubes"></i>
                Integrations
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="developerCenter">
      <img class="sqtch-icon" src="/assets/images/Saasquatch-icons-cog.svg" />
      <span>
        Developer Center
        <br />
      </span>
      <ul>
        <sidebar-header></sidebar-header>

        <li>
          <a href="/developer/">
            Dev Center Home
            <br />
            <small>Build on our SDKs, APIs and JS</small>
          </a>
        </li>
        <li>
          <a href="/integrations">
            <i class="fa fa-fw small fa-cubes"></i>
            Integrations
          </a>
        </li>
        <li>
          <a href="/guides/">
            <i class="fa fa-fw small fa-code"></i>
            Dev Guides
          </a>
        </li>
        <li>
          <a href="/topics/json-web-tokens">
            JSON Web Tokens
          </a>
        </li>
        <li>
          <a href="/developer/testing">
            Testing Best Practices
          </a>
        </li>
        <li>
          <a href="/developer/squatchjs">
            <i class="fa fa-fw small fa-html5"></i>
            Squatch.js
          </a>
          <ul>
            <sidebar-header></sidebar-header>
            <li><a href="/developer/squatchjs/">About squatch.js</a></li>
            <li>
              <a href="/developer/squatchjs/signed-requests">Signed Requests</a>
            </li>
            <li><a href="/developer/squatchjs/issue">Issue Code List</a></li>

            <li class="Divider">Version 2</li>

            <li><a href="/developer/squatchjs/v2">squatch.js Quickstart</a></li>
            <li>
              <a href="/developer/squatchjs/v2/advanced-use-cases">
                squatch.js Advanced Use Cases
              </a>
            </li>
            <li>
              <a href="/developer/squatchjs/v2/reference">
                squatch.js Reference
              </a>
            </li>
            <li>
              <a href="/segment/">SaaSquatch Segment Integration</a>
              <ul>
                <sidebar-header></sidebar-header>

                <li>
                  <a href="/segment/">Segment Integration Introduction</a>
                </li>
                <li>
                  <a href="/integrations/segment-v2/">Segment Integration V2</a>
                </li>
                <li>
                  <a href="/integrations/segment-v2/subscription/">
                    Segment Subscription
                  </a>
                </li>
                <li>
                  <a href="/integrations/segment-v2/stream/">Segment Stream</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="/api/">
            <i class="fa fa-fw fa-desktop"></i>
            REST API
          </a>
          <ul>
            <sidebar-header></sidebar-header>

            <li><a href="/api/authentication">Authentication</a></li>
            <li><a href="/api/openendpoints">API Open Endpoints</a></li>
            <li><a href="/api/errors">Errors</a></li>
            <li class="Divider">Webhooks</li>
            <li><a href="/api/webhooks">Webhooks Overview</a></li>
            <li><a href="/api/webhooks/security">Webhooks Security</a></li>

            <li class="Divider">API Reference</li>
            <li><a href="/api/methods">Full list of Methods</a></li>

            <!-- prettier-ignore -->
            <APILIST/>
          </ul>
        </li>
        <li>
          <a href="/graphql/reference/">
            <i
              class="fa fa-fw fa-deskto"
              style="
                background: url(https://api.iconify.design/simple-icons:graphql.svg)
                  no-repeat center center / contain;
                width: 16px;
                height: 16px;
              "
            ></i>
            GraphQL API
          </a>
          <ul>
            <sidebar-header></sidebar-header>

            <li class="Divider">GraphQL Reference</li>
            <li><a href="/graphql/reference">Reference</a></li>

            <li class="Divider">GraphQL Tutorials</li>
            <li>
              <a href="/graphql/custom-widget">Custom Widget via GraphQL</a>
            </li>
          </ul>
        </li>

        <li class="Divider">Mobile Resources</li>
        <li>
          <a href="/mobile/branch-metrics/">
            Branch Metrics Integration - Quickstart
          </a>
        </li>
        <li>
          <a href="/mobile/branch-metrics/reference/">
            Branch Metrics Reference
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
