{% set highlights = swagger.info.description %}

{% extends '../hasSearchBox.html' %}

{% import "../macros/swaggerMacros.html" as swaggerMacros %}

{% block content %}

<section>
  <div class="page-header">
      <h1>{{title}}</h1>
  </div>
  <div class="lead">
    {{ swagger.info.description | markdown | safe}}
  </div>

  <h3>Tag Summary</h3>

  <p>API methods are organized by <b>tags</b> of similar functionality. If you're in a hurry to understand how the SaaSquatch REST API works, then understanding the tags is a great place to start.</p>

<dl class="dl-horizontal">
  {% for tag in tagMap %}
      <dt><span class="label">{{tag.name}}</span></dt>
      <dd>{{tag.description | markdown | safe }}</dd>
  {% endfor %}
</dl>


  <h3>Authentication Summary</h3>

  <p>API methods may be used with one or several authentication schemes as defined in this table:</p>
  
<dl class="dl-horizontal">
  {% for secDef in swagger.securityDefinitions %}
      <dt><span class="label">{{loop.key}}</span></dt>
      <dd>{{secDef.description | markdown | safe}}</dd>
  {% endfor %}
  <dt><span class="label">Unauthenticated</span></dt>
  <dd>Does not require any type of authentication to make this API call.</dd>
</dl>


  
  <h3>Methods Summary</h3>  
  {% include "../partials/apiNavigationTable.html" %}


        {% for path in swagger.paths %}
            {% set methodPath = loop.key %}
            {% for method in path %}
            {% set httpMethod = loop.key %}
            
            {% set firstQuery = true %}

            <div class="apidocs-section">
            
            <h2 id="{{method['x-docs-anchor']}}" name="{{method['x-docs-anchor']}}" class="js-apidocs-methodname">
                {{method.summary}}
                <span class="label docs-label-{{httpMethod | lower}}">{{httpMethod | upper}}</span>
                <code>{{swagger.basePath}}{{methodPath}}</code>
            </h2>
            
            <div class="lead">
                {{method.description | markdown | safe}} 
            </div>

            <p>
                <b>Tags</b>: 
                {% for tag in method.tags %}
                    {% set tagDesc = tagMap[tag] %}
                    <span class="label js-tooltip" title="{{ tagDesc.description}}">{{tag}}</span>
                {% endfor %}
                
                <b>Authentication</b>: 
                {% for sec in method.security %}
                  {% for secScopes in sec %}
                      {% set secName = loop.key %}
                      {% set secDef = swagger.securityDefinitions[secName] %}
                      {% if secScopes.length %}
                          {% for scope in secScopes %}
                          <span class="label js-tooltip" title="{{secDef.description}}">{{secName}}:{{scope}}</span>
                          {% endfor %}
                      {% else %}
                          <span class="label js-tooltip" title="{{secDef.description}}">{{secName}}</span>
                      {% endif %}
                  {% endfor %}
                {% endfor %}
                {% if method.security.length < 1 %}
                    <span class="label js-tooltip" title="Does not require any type of authentication to make this API call.">Unauthenticated</span>
                {% endif %}
            </p>

            <h4 style="margin-top: 40px;">Arguments</h4>
            <div>
                <table class="table table-hover apidocs-args">
                    {% for param in method.parameters %}
                      <tr>
                        <td>{% if param.required or param.in == "body" %}<span class="label">Required</span>{% endif %}</td>
                        <th class="docs-monospace">
                            {% if param.in == "body" %}
                                {{param.name}}<br>
                                <span class="muted">JSON&nbsp;Body</span>
                            {% else %}
                                {{param.name}}<br>
                                <span class="muted">{{param.type | default("object") }}</span>
                            {% endif %}
                        </th>
                        <td>
                            {{param.description | markdown | safe}}
                            
                            {% if param.schema %}{{swaggerMacros.outputRequestProperties(param.schema)}}{% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                </table>
                
<p><b>Example Curl Request</b></p>
<pre><code class="lang-curl">curl -X {{httpMethod|upper}} {{swagger.schemes[0]}}://{{swagger.host}}{{swagger.basePath}}{{methodPath}}{% for param in method.parameters %}{% if param.in == "query" && param.required %}{% if firstQuery %}?{%else%}&{% endif %}{{param.name}}={{param['x-example']|default('')}}{% set firstQuery=false %}{%- endif %}{% endfor %} \
-u :API_KEY \
{% if httpMethod == "post" || httpMethod == "put" || httpMethod == "patch" %}-H "Content-Type: application/json" \
-d '{% for param in method.parameters %}{% if param.in == "body" %}{{ param.schema | exampleSwaggerSchema | json(4) }}{%- endif %}{% endfor %}'{%- endif %}
</code></pre>
            </div>

            <h4 style="margin-top: 40px;">Returns</h4>

            <div class="tabbable">
                <ul class="nav nav-tabs">

                    
                    {% for response in method.responses %}
                    {% if loop.key != "default" %}
                    <li {% if loop.first %}class="active"{% endif %}>
                        <a href="#" data-toggle="tab" data-target=".{{swaggerMacros.responseId(method,loop.key)}}"><span class="label">HTTP {{loop.key}}</span> {{response.description}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                
                <div class="tab-content">
                    {% for response in method.responses %}
                    {% if loop.key != "default" %}
                        <div class="tab-pane {% if loop.first %}active{% endif %} {{swaggerMacros.responseId(method,loop.key)}}">
                            {{swaggerMacros.outputProperties(response.schema)}}
                            
                            <p><b>Example Response</b></p>
                            <pre>HTTP {{loop.key}}</pre>
                            {% for example in response.examples %}
                                <pre><code class="lang-json">{{example | json(4) }}</code></pre>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        
            
        </div><!-- // .apidocs-section -->
                    
            {% endfor %}
        {% endfor %}


</section>

{% endblock content %}
