{% extends '../api.html' %}

{% import "../tags/API.html" as API %}
{% import "./swaggerMacros.html" as swaggerMacros %}

{% block content %}

<section>
  <div class="page-header">
      <h1>{{title}}</h1>
  </div>
  
  {% if highlights %}
  <p class="lead">
    {{ highlights }}
  </p>
  {% endif %}
  
        <pre class="jsonview">{{ swagger|json(4) }}</pre>
        
        {% include "./apiNavigationTable.html" %}

        {% for path in swagger.paths %}
            {% set methodPath = loop.key %}
            {% for method in path %}
            {% set httpMethod = loop.key %}

            <div class="apidocs-section">
            
            <a id="{{method.operationId}}" name="{{method.operationId}}" class="section-anchor">&nbsp;</a>
            
            <h2>
                {{method.summary}}
                <code>{{httpMethod | upper}} {{swagger.basePath}}{{methodPath}}</code>
            </h2>

            {{method.description | markdown}} 

            <p style="display: none;">Works with: 
                {% for tag in method.tags %}
                    <span class="label program-type-label program-type-{{tag | lower}}">{{tag | lower | title}}</span>
                {% endfor %}
            </p>

            <h4 style="margin-top: 40px;">Arguments</h4>
            <div>
                <table class="table table-hover apidocs-args">
                    {% for param in method.parameters %}
                      <tr>
                        <td>{% if param.required or param.in == "body" %}<span class="label">Required</span>{% endif %}</td>
                        <th class="docs-monospace">
                            {% if param.in == "body" %}
                                JSON Body
                            {% else %}
                                {{param.name}}<br>
                                <span class="muted">{{param.type | default("object") }}</span>
                            {% endif %}
                        </th>
                        <td>
                            {{param.description | markdown}}
                            
                            {% if param.schema %}{{swaggerMacros.outputProperties(param.schema)}}{% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                </table>
            </div>

            <h4 style="margin-top: 40px;">Returns</h4>

            <div class="tabbable">
                <ul class="nav nav-tabs">

                    
                    {% for response in method.responses %}
                    {% if loop.key != "default" %}
                    <li {% if loop.first %}class="active"{% endif %}>
                        <a href="#" data-toggle="tab" data-target=".{{swaggerMacros.responseId(method,loop.key)}}"><span class="label">HTTP {{loop.key}}</span> {{response.description}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                
                <div class="tab-content">
                    {% for response in method.responses %}
                    {% if loop.key != "default" %}
                        <div class="tab-pane {% if loop.first %}active{% endif %} {{swaggerMacros.responseId(method,loop.key)}}">
                            {{swaggerMacros.outputProperties(response.schema)}}
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            
            <h4 style="margin-top: 40px;">Examples</h4>
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#" data-toggle="tab" data-target=".curl-example-request-{{method.operationId}}">Example Request</a></li>
                    <li><a href="#" data-toggle="tab" data-target=".curl-example-response-{{method.operationId}}">Example Response</a></li>
                </ul>
                
                <div class="tab-content">
                    <div class="tab-pane active curl-example-request-{{method.operationId}}">

<pre class="prettyprint lang-curl">$curl {{swagger.schemes[0]}}://{{swagger.host}}{{swagger.basePath}}{{methodPath}} \
-u API_KEY: \
-H "Content-Type: application/json" \
{% if httpMethod == "post" %}-d "{% for param in method.parameters %}{% if param.in == "body" %}{{ param.schema | exampleSwaggerSchema | json(4) | ('"', "'", 'g') }}{%- endif %}{% endfor %}"{%- endif %}
</pre>
                    </div>
                    <div class="tab-pane curl-example-response-{{method.operationId}}">
                        {% for response in method.responses %}
                            {% if loop.key != "default" %}
                            <pre>HTTP {{loop.key}}</pre>
                            {% for example in response.examples %}
                                <pre class="prettyprint lang-json">{{example | json(4) }}</pre>
                            {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- TODO: Example requests and responses -->
            
        </div><!-- // .apidocs-section -->
                    
            {% endfor %}
        {% endfor %}

</section>

{% endblock content %}
