{% extends '../hasSearchBox.html' %}

{% import "../macros/swaggerMacros.html" as swaggerMacros %}

{% block content %}

<section>
  <div class="page-header">
      <h1>{{title}}</h1>
  </div>
  
  {% if highlights %}
  <p class="lead">
    {{ highlights }}
  </p>
  {% endif %}
  
        {% include "../partials/apiNavigationTable.html" %}

        {% for path in swagger.paths %}
            {% set methodPath = loop.key %}
            {% for method in path %}
            {% set httpMethod = loop.key %}

            <div class="apidocs-section">
            
            <a id="{{method.operationId}}" name="{{method.operationId}}" class="section-anchor">&nbsp;</a>
            
            <h2>
                {{method.summary}}
                <code>{{httpMethod | upper}} {{swagger.basePath}}{{methodPath}}</code>
            </h2>

            {{method.description | markdown}} 

            <p style="display: none;">Works with: 
                {% for tag in method.tags %}
                    <span class="label program-type-label program-type-{{tag | lower}}">{{tag | lower | title}}</span>
                {% endfor %}
            </p>

            <h4 style="margin-top: 40px;">Arguments</h4>
            <div>
                <table class="table table-hover apidocs-args">
                    {% for param in method.parameters %}
                      <tr>
                        <td>{% if param.required or param.in == "body" %}<span class="label">Required</span>{% endif %}</td>
                        <th class="docs-monospace">
                            {% if param.in == "body" %}
                                {{param.name}}<br>
                                <span class="muted">JSON&nbsp;Body</span>
                            {% else %}
                                {{param.name}}<br>
                                <span class="muted">{{param.type | default("object") }}</span>
                            {% endif %}
                        </th>
                        <td>
                            {{param.description | markdown}}
                            
                            {% if param.schema %}{{swaggerMacros.outputProperties(param.schema)}}{% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                </table>
                
<p><b>Example Curl Request</b></p>
<pre><code class="lang-curl">curl -X {{httpMethod|upper}} {{swagger.schemes[0]}}://{{swagger.host}}{{swagger.basePath}}{{methodPath}}{% for param in method.parameters %}{% if param.in == "query" && param.required %}{% if loop.first %}?{%else%}&{% endif %}{{param.name}}={{param['x-example']|default('')}}{%- endif %}{% endfor %} \
-u :API_KEY \
{% if httpMethod == "post" || httpMethod == "put" || httpMethod == "patch" %}-H "Content-Type: application/json" \
-d '{% for param in method.parameters %}{% if param.in == "body" %}{{ param.schema | exampleSwaggerSchema | json(4) }}{%- endif %}{% endfor %}'{%- endif %}
</code></pre>
            </div>

            <h4 style="margin-top: 40px;">Returns</h4>

            <div class="tabbable">
                <ul class="nav nav-tabs">

                    
                    {% for response in method.responses %}
                    {% if loop.key != "default" %}
                    <li {% if loop.first %}class="active"{% endif %}>
                        <a href="#" data-toggle="tab" data-target=".{{swaggerMacros.responseId(method,loop.key)}}"><span class="label">HTTP {{loop.key}}</span> {{response.description}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                
                <div class="tab-content">
                    {% for response in method.responses %}
                    {% if loop.key != "default" %}
                        <div class="tab-pane {% if loop.first %}active{% endif %} {{swaggerMacros.responseId(method,loop.key)}}">
                            {{swaggerMacros.outputProperties(response.schema)}}
                            
                            <p><b>Example Response</b></p>
                            <pre>HTTP {{loop.key}}</pre>
                            {% for example in response.examples %}
                                <pre><code class="lang-json">{{example | json(4) }}</code></pre>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        
            
        </div><!-- // .apidocs-section -->
                    
            {% endfor %}
        {% endfor %}


        
        <h2>Swagger Spec</h2>
        <p>The Referral SaaSquatch documentation is generated from this Swagger.io specification.</p>
        <pre class="jsonview">{{ swagger|json(4) }}</pre>
        

</section>

{% endblock content %}
