{% import "../macros/swaggerMacros.html" as swaggerMacros %}

{% extends '../article.html' %}
{% block articleContent %}

  {{ contents | safe }}
  
<script src="/assets/lib/isotope.pkgd.min.js"></script>

<div class="isotope-button-group filters-isotope-button-group">
  <button class="isotope-button is-checked" data-filter="*">All</button>
  <button class="isotope-button" data-filter=".featured">Featured</button>
  <button class="isotope-button" data-filter=".tag-manager">Tag Managers</button>
  <button class="isotope-button" data-filter=".crm">CRMs</button>
  <button class="isotope-button" data-filter=".payment-provider">Payment Providers</button>
  <button class="isotope-button" data-filter=".landing-page">Landing Pages</button>
</div>

<div class="grid">
  {% for integration in collections.integrationsList %}
      <div class="integration-item {% for category in integration.categories %}{{ category }} {% endfor %}">
        <div class="integration-image">
          <a class="imageLink" href="/{{ integration.slug }}">
            <img class="image" src="/assets/images/integrations/{{ integration.logo }}" />
          </a>
        </div>
        <p class="highlights">{{ integration.highlights }}</p>
          
        <a class="link" href="/{{ integration.slug }}">Read more about {{ integration.integrationName }}</a>
      </div>
  {% endfor %}
</div> 

<script> 

// init Isotope
var iso = new Isotope( '.grid', {
  itemSelector: '.integration-item',
  layoutMode: 'fitRows'
});

// bind filter isotope-button click
var filtersIntegration = document.querySelector('.filters-isotope-button-group');
filtersIntegration.addEventListener( 'click', function( event ) {
  // only work with isotope-buttons
  if ( !matchesSelector( event.target, 'button' ) ) {
    return;
  }
  var filterValue = event.target.getAttribute('data-filter');
  // use matching filter function
  //filterValue = filterFns[ filterValue ] || filterValue;
  iso.arrange({ filter: filterValue });
});

// change is-checked class on isotope-buttons
var buttonGroups = document.querySelectorAll('.isotope-button-group');
for ( var i=0, len = buttonGroups.length; i < len; i++ ) {
  var buttonGroup = buttonGroups[i];
  radioButtonGroup( buttonGroup );
}

function radioButtonGroup( buttonGroup ) {
  buttonGroup.addEventListener( 'click', function( event ) {
    // only work with buttons
    if ( !matchesSelector( event.target, 'button' ) ) {
      return;
    }
    buttonGroup.querySelector('.is-checked').classList.remove('is-checked');
    event.target.classList.add('is-checked');
  });
}

</script>
  
{% endblock articleContent %}