{% import "../macros/swaggerMacros.html" as swaggerMacros %}

{% extends '../article.html' %}
{% block articleContent %}

{{ contents | safe }}
  
<script src="/assets/lib/isotope.pkgd.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

<div id="form-ui">
  <p>
    <select class="isotope-product-news-select-group filters-isotope-product-news-select-group">
      <option value="">All Posts</option>
      <option value=".feature-release">Feature Releases</option>
      <option value=".monthly-update">Monthly Updates</option>
      <option value=".product-update">Product Updates</option>
    </select>
    
    <select class="isotope-product-news-select-group filters-isotope-product-news-select-group">
      <option value="">From All-time</option>
      <option value="last_30">Last 30 days</option>
      <option value="past_year">Past year</option>
    </select>
  
  </p>
  
</div>

<div class="grid no-anchor">
  {% for productNewsItem in productNews %}
    <div class="product-news-item read-more-wrap {% for tag in productNewsItem.tags %}{{ tag }} {% endfor %}">
      <div class="product-news-item-content">
        <i class="fa fa-2x fa-calendar product-news-item-icon" aria-hidden="true"></i><h3 class="no-anchor product-news-item-title">{{ productNewsItem.title }}</h3><p class="product-news-item-datePublished">{{productNewsItem.datePublished}}</p>
        <div class="product-news-item-post-content"> {{productNewsItem.content | markdown | safe }} </div>
      </div>
      <div class="product-news-post-footer">
        <div class="product-news-post-footer-content">
          <p class="product-news-post-footer-title">Tags</p> {% for tag in productNewsItem.tags %}<p class="product-news-item-footer-tag">{{ tag }}</p> {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</div> 




<script>

var lineHeight = 20;
var numLines = 1;

// init Isotope
var iso = new Isotope( '.grid', {
  itemSelector: '.product-news-item',
  layoutMode: 'fitRows',
  getSortData: {
      date: function ( itemElem  ) {
          var unixDate = new Date($( itemElem ).find('.product-news-item-datePublished').text()).getTime() / 1000;
          return parseInt(unixDate, 10);
      }
  },
  sortBy: 'date',
  sortAscending: false,
});

// filter functions
var filterFns = {
  // show if post if from the past 30 days
  last_30: function(itemElem) {
    var postDate = new Date($(itemElem).find('.product-news-item-datePublished').text()).getTime() / 1000;
    //var postDate = new Date($(this).find('.datePublished').text()).getTime() / 1000;
    var thirtyDaysAgo = (Math.floor(Date.now() / 1000) - 2592000);
    return parseInt( postDate, 10 ) > thirtyDaysAgo;
  },
  past_year: function(itemElem) {
    var postDate = new Date($(itemElem).find('.product-news-item-datePublished').text()).getTime() / 1000;
    var yearAgo = (Math.floor(Date.now() / 1000) - 31536000);
    return parseInt( postDate, 10 ) > yearAgo;
  }
};
// bind filter on select change
$('.filters-isotope-product-news-select-group').on( 'change', function() {
  
  // get filter value from option value
  var filterValue = this.value;
  
  // use filterFn if matches value
  filterValue = filterFns[ filterValue ] || filterValue;
  
  //$grid.isotope({ filter: filterValue });
  iso.arrange({ filter: filterValue });
});




</script>
  
{% endblock articleContent %}