{% extends '../hasSearchBox.html' %}
{% block content %}
<section class="article-content">
  
    <div class="program-item">
        <div class="row-fluid program-header">
            <div class="span2">
                <div class="program-header-icon">
                    {% if logo %}<img src="{{logo.url}}" alt="{{logo.name}}" id="logo"/>{% endif %}
                    
                </div>
                
            </div>
            <div class="span7 program-header-content-block">
                <div  class="program-header-content">
                    <h1 style="display: inline-block;" class="program-header-item">{{title}}</h1 >{% for tag in tags %}{% if tag=="Beta" %}<span style="display: inline-block;" class="label docs-label-beta">Beta</span>{% endif %}{% endfor %}
                    <div class="program-header-item">{{ highlights | markdown | safe }}</div>
                    
                </div>
                
            </div>
            <div class="span3">
                {% if screenshot %}<img src="{{screenshot.url}}" alt="{{screenshot.name}}" id="background-image"/>{% endif %}
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span12">
              
                <div class="product-content no-anchor">
                
                    {% for tag in tags %}{% if tag=="Beta" %}<blockquote><p>This feature is currently in Beta. Please contact our <a href="mailto:support@referralsaasquatch.com">support team</a> to learn more about how to enroll.</p></blockquote>{% endif %}{% endfor %}
                    
                    {% block articleContent %}
                    {{ contents | safe }}
                    {% endblock articleContent %}
                </div>
            </div>
            <!--<div class="span4">-->
            <!--    <div class="screenshot-section">-->
            <!--        <h4 class="no-anchor" style="padding-bottom: 10px; margin-top: 10px;">Example Email Messaging</h4>-->
            <!--      {% if screenshot %}-->
            <!--          <div>-->
            <!--              <a class="docs-lightbox" href="{{screenshot.url}}" data-lightbox="example-set">-->
            <!--              <img src="{{screenshot.url}}" alt="{{screenshot.name}}" id="screenshot"/>-->
                        
            <!--              </a>-->
            <!--          </div>-->
                    
            <!--          {% endif %}-->
            <!--    </div>-->
            <!--</div>-->
        </div>
    </div>
</section>
{% endblock content %}
