{% import "../macros/swaggerMacros.html" as swaggerMacros %}

{% extends '../article.html' %}
{% block articleContent %}

<p>The SaaSquatch system is configured to accept being sent a wide range of event data about actions users take within your product. This event information will power the loyalty programs within your SaaSquatch project, and can be used to trigger sending emails and providing rewards.

<p>This purchase event can be sent to SaaSquatch through our <a href="/api/methods/#trackEvent">REST API</a> or squatch.js Javascript Library.

<p>The puchase event is a reserved user event type within the SaaSquatch system, and requires information to be sent to SaaSquatch in a defined format. This format is as follows:

<h4>Fields</h4>
<div>
    <table class="table table-hover apidocs-args">
        
        {% for key, property in purchaseEventSchema["properties"] %}
            
            <tr>
                <td>{% if property["required"] == true %}<span class="label">Required</span>{% endif %}</td>
                <th class="docs-monospace">
                    {{ key }}<br>
                    <span class="muted">{{ property["type"] }}</span>
                </th>
                <td>
                    
                    {% if key == "products" %}
                    
                        Array of products in the purchase
                        <div class>
                        <table class="table table-hover apidocs-args" style="margin-top: 10px;">
                    
                        {% for productKey, productProperty in purchaseEventSchema["definitions"]["product"]["properties"] %}
                            
                            <tr>
                                <td style="width: 60px;">{% for required in purchaseEventSchema["definitions"]["product"]["required"] %}{% if productKey == required %}<span class="label">Required</span>{% endif %}{% endfor %}</td>
                                <th class="docs-monospace" style="width: 135px;">
                                    {{ productKey }}<br>
                                    <span class="muted">{{ productProperty["type"] }}</span>
                                </th>
                                <td>
                                    {{ productProperty["description"] }}
                                    
                                </td>
                            </tr>

                        {% endfor %}
                        </table>
                        </div>
                    {% else %}
                        {{ property["description"] }}
                    {% endif %}
                    
                    
                    
                </td>
            </tr>
            
            
          
        {% endfor %}<br><br>
    </table>
</div>



  
{% endblock articleContent %}