{% extends '../themes.html' %}

{% import "../tags/API.html" as API %}
{% import "./swaggerMacros.html" as swaggerMacros %}

{% block content %}

<section>
  <div class="page-header">
      <h1>{{title}}</h1>
  </div>
  
  {% if highlights %}
  <p class="lead">
    {{ highlights }}
  </p>
  {% endif %}
  
  {{ contents | safe }}

  
  <table class="table">
  {% for shorttag in shorttags.properties %}
      <tr>
          <td>
          <code>
              {{ loop.key }}
          </code>
          </td>
          <td>
            {{ shorttag.description | markdown }}
          </td>
      </tr>
  {% endfor %}
  </table>
  
  
{% endblock content %}