{% extends '../hasTableOfContents.html' %}


{% block articleContent %}

<div class="well">
    Latest version: <b>{{version}}</b> | <a href="https://github.com/saasquatch/squatch-js/releases">Previous Versions</a> | 
    <a href="https://github.com/saasquatch/squatch-js/"><i class="fa fa-github" aria-hidden="true"></i> View Source</a>
</div>
<div class="well">
    <h1>Table of Contents</h1>
    {{ markdownToc.content | markdown |safe}}
</div>
<div id="squatchjs-reference">
    {{ tocContents.content | safe }}
</div>
{% endblock articleContent %}
