
{% macro responseId(method, responseKey) %}{{method.operationId}}-{{responseKey}}{% endmacro %}

{% macro outputProperties(schema, collapse) %}

    <div class="{%if collapse %}js-docs-collapsabletable js-docs-collapsabletable-hidden{% endif %}">
    <table class="table table-hover apidocs-args">
    {% for prop in schema.properties | default(schema.items.properties) %}
         <tr>
            <th class="docs-monospace">
                {{loop.key}}<br>
                <span class="muted">{{prop.type | default("object") }}</span>
            </th>
            <td>{% if schema.required and (loop.key in schema.required) %}<span class="label">Required</span>{% endif %}</td>
            <td>
                {{prop.description | markdown}}
                
                {% if prop.properties %}{{outputProperties(prop, true)}}{% endif %}
                {% if prop.items %}{{outputProperties(prop.items, true)}}{% endif %}

            </td>
          </tr>
    {% endfor %}
    </table>
    </div>
{% endmacro %}