@(title: String, descr: String)(content: Html)

@base("guide", title, descr)(content){

    
    <li class="nav-header">Examples</li>
    
    <li><a href="/guides/dollar-credit"><i class="icon-chevron-right"></i>Give $20 credit</a></li>
    <li><a href="/guides/percent-discount"><i class="icon-chevron-right"></i>Give 10% off</a></li>
    <li><a href="/guides/point-reward"><i class="icon-chevron-right"></i>Give 50 points</a></li>
    
    <li class="nav-header">FAQ</li>
    
    <li><a href="/free-trials"><i class="icon-chevron-right"></i>Free trials</a></li>
    <li><a href="/shared-vs-solo-accounts"><i class="icon-chevron-right"></i>Shared vs Solo Accounts</a></li>
    <li><a href="/testing"><i class="icon-chevron-right"></i>Testing</a></li>
    <li><a href="/theming"><i class="icon-chevron-right"></i>Theming</a></li>
    <li><a href="/mobile"><i class="icon-chevron-right"></i>Mobile</a></li>


    <li class="nav-header">Subscription System Integrations</li>
    <li><a href="/braintree"><i class="icon-chevron-right"></i>Braintree</a></li>
    <li><a href="/recurly"><i class="icon-chevron-right"></i>Recurly</a></li>
    <li><a href="/stripe"><i class="icon-chevron-right"></i>Stripe</a></li>
    <li><a href="/zuora"><i class="icon-chevron-right"></i>Zuora</a></li>

    
    <li class="nav-header">Best Practices</li>
    <li><a href="/bestpractices/common-pitfalls"><i class="icon-chevron-right"></i>Common Pitfalls</a></li>
    <li><a href="/bestpractices/buttons"><i class="icon-chevron-right"></i>Refer-a-friend buttons</a></li>
    <li><a href="/bestpractices/speed"><i class="icon-chevron-right"></i>Page Speed</a></li>
    
    <li class="nav-header">FAQ</li>
    <li><a href="/faq"><i class="icon-chevron-right"></i>General</a></li>
    <li><a href="/faq/pricing"><i class="icon-chevron-right"></i>Pricing</a></li>
    
}
