@()

<table class="table">
    <thead>
        <tr>
            <th>
                Method
            </th>
            <th>
                Route
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
    
        <tr>
            <td>
                POST
            </td>
            <td class="docs-monospace">
                /api/v1/{TENANT_ALIAS}/coupon
            </td>
            <td>
                <a href="/api/methods#set_coupon">Set coupon/referral code on an account</a>
            </td>
        </tr>
        <tr>
            <td>
                GET
            </td>
            <td class="docs-monospace">
                /api/v1/{TENANT_ALIAS}/coupon/{CODE}
            </td>
            <td>
                <a href="/api/methods#get_coupon">Lookup a coupon/referral code</a>
            </td>
        </tr>
        <tr>
            <td>
                POST
            </td>
            <td class="docs-monospace">
                /api/v1/{TENANT_ALIAS}/accountsync
            </td>
            <td>
                <a href="/api/methods#account_sync">Update an account's status</a>
            </td>
        </tr>
        <tr>
            <td>
                GET
            </td>
            <td class="docs-monospace">
                /api/v1/{TENANT_ALIAS}/account/{ACCOUNT_ID}/reward
            </td>
            <td>
                <a href="/api/methods#get_account_reward">Lookup an account's referral credit</a>
            </td>
        </tr>
        <tr>
            <td>
                POST
            </td>
            <td class="docs-monospace">
                /api/v1/{TENANT_ALIAS}/subscription
            </td>
            <td>
                <a href="/api/methods#create_webhook">Create a webhook subscription</a>
            </td>
        </tr>
        <tr>
            <td>
                DELETE
            </td>
            <td class="docs-monospace">
                /api/v1/{TENANT_ALIAS}/subscription/{URL}
            </td>
            <td>
                <a href="/api/methods#delete_webhook">Delete a webhook subscription</a
            </td>
        </tr>
        <tr>
            <td>
                GET
            </td>
            <td class="docs-monospace">
                /api/v1/{TENANT_ALIAS}/subscription
            </td>
            <td>
                <a href="/api/methods#list_webhooks">List webhook subscriptions</a>
            </td>
        </tr>
    </tbody>
</table>