@()

<h2>Create a webhook subscription</h2>
<a id="create_webhook" name="create_webhook" class="section-anchor">&nbsp;</a>

<p>Subscribes a URL to receive events via webhooks</p>
<h4>Definition</h4>
<pre class="prettyprint lang-curl">POST https://app.referralsaasquatch.com/api/v1/{TENANT_ALIAS}/subscription</pre>

<h4>Arguments</h4>
<div>
    <table class="table table-hover">
      <tr>
        <th class="docs-monospace">endpointUrl</th>
        <td><span class="label">Required</span></td>
        <td>
            The url of the endpoint to received events
        </td>
      </tr>
    </table>
</div>

<h4>Returns</h4>
<p>HTTP Created Status (Empty Response Body)</p>

<h4>Example Request</h4>
<pre class="prettyprint lang-curl">$ curl https://app.referralsaasquatch.com/api/v1/TENANT_ALIAS/subscription \
-u API_KEY: \
-H "Content-Type: application/json" \
-d '{"endpointUrl":"YOUR_ENDPOINT_URL"}'</pre>

<hr/>

@** TODO: Add documentation about looking up and removing webhook subscriptions **@
