@()

<a id="create_webhook" name="create_webhook" class="section-anchor">&nbsp;</a>
<h2>Create a webhook subscription</h2>

<p>Subscribes a URL to receive events via webhooks</p>
<h4>Definition</h4>
<pre class="prettyprint lang-curl">POST https://app.referralsaasquatch.com/api/v1/{TENANT_ALIAS}/subscription</pre>

<h4>Arguments</h4>
<div>
    <table class="table table-hover">
      <tr>
        <th class="docs-monospace">endpointUrl</th>
        <td><span class="label">Required</span></td>
        <td>
            The url of the endpoint to receive events
        </td>
      </tr>
    </table>
</div>

<h4>Returns</h4>
<p>HTTP Created Status (Empty Response Body)</p>

<h4>Example Request</h4>
<pre class="prettyprint lang-curl">$ curl https://app.referralsaasquatch.com/api/v1/TENANT_ALIAS/subscription \
-u API_KEY: \
-H "Content-Type: application/json" \
-d '{"endpointUrl":"YOUR_ENDPOINT_URL"}'</pre>

<hr/>






<a id="delete_webhook" name="delete_webhook" class="section-anchor">&nbsp;</a>
<h2>Delete a webhook subscription</h2>

<p>Removes a URL from receiving events via webhooks</p>
<h4>Definition</h4>
<pre class="prettyprint lang-curl">DELETE https://app.referralsaasquatch.com/api/v1/{TENANT_ALIAS}/subscription/{URL}</pre>

<h4>Arguments</h4>
<div>
    <table class="table table-hover">
      <tr>
        <th class="docs-monospace">url</th>
        <td><span class="label">Required</span></td>
        <td>
            The url of the endpoint that will be removed. This must be URL-encoded before being passed to a 
        </td>
      </tr>
    </table>
</div>

<h4>Returns</h4>
<p>HTTP 204 - No response (Empty Response Body)</p>

<h4>Example Request</h4>
<pre class="prettyprint lang-curl">$ curl -X DELETE https://app.referralsaasquatch.com/api/v1/{TENANT_ALIAS}/subscription/{URL} \
-u API_KEY: \
-H "Content-Type: application/json"</pre>
<hr/>










<a id="list_webhooks" name="list_webhooks" class="section-anchor">&nbsp;</a>
<h2>List webhook subscriptions</h2>

<p>List all the URLs that are currently subscribed to receive events via webhooks</p>
<h4>Definition</h4>
<pre class="prettyprint lang-curl">GET https://app.referralsaasquatch.com/api/v1/{TENANT_ALIAS}/subscription</pre>

<h4>Arguments</h4>
<p>No arguments required.</p>

<h4>Returns</h4>
<p>A list of endpoints urls</p>

<h4>Example Request</h4>
<pre class="prettyprint lang-curl">$ curl https://app.referralsaasquatch.com/api/v1/TENANT_ALIAS/subscription \
-u API_KEY: \
-H "Content-Type: application/json"</pre>

<h4>Example Response</h4>
<pre class="prettyprint lang-json">[
    {"endpointUrl": "https://example.com/hook"},
    {"endpointUrl": "https://another.example.com/hook"},
    ...
]</pre>
<hr/>
