{% extends './hasSearchBox.html' %}
{% block content %}
<section class="article-content">
  
  {% if hero %}<div class="hero-unit article {{category}}">{% endif %}

  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  {% if highlights %}
  <div class="lead">
    {{ highlights | markdown | safe }}
  </div>
  {% endif %}

  {% if hero %}</div><!-- end hero block -->{% endif %}
  

  {% block articleContent %}
  {{ contents | safe }}
  {% endblock articleContent %}
  
</section>
{% endblock content %}
