<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="google-site-verification" content="RdOFXwKJvCorEOtVBMJTkuwZ8pDOOjvR4hoia3OYecE" />
        <title>{%if title %}{{title}} | {% endif %}Referral SaaSquatch Documentation</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% if robots == 'true' %}

        {%else%}
            <meta name="robots" content="noindex, nofollow">
            <meta name="st:robots" content="follow, index">
        {% endif %}

        <!-- Rollbar error monitoring -->
        <script>
           var _rollbarParams = {"server.environment": "production"};
           _rollbarParams["notifier.snippet_version"] = "2"; var _rollbar=["c8fd34f79430479a98f49007397a11db", _rollbarParams]; var _ratchet=_rollbar;
           (function(w,d){w.onerror=function(e,u,l){_rollbar.push({_t:'uncaught',e:e,u:u,l:l});};var i=function(){var s=d.createElement("script");var 
           f=d.getElementsByTagName("script")[0];s.src="//d37gvrvc0wt4s1.cloudfront.net/js/1/rollbar.min.js";s.async=!0;
           f.parentNode.insertBefore(s,f);};if(w.addEventListener){w.addEventListener("load",i,!1);}else{w.attachEvent("onload",i);}})(window,document);
        </script>
        <!-- End of Rollbar error monitoring -->

      
        <!-- Start Pingdom RUM -->
        <script>
            var _prum = [['id', '52c61993abe53d650f000000'],
                         ['mark', 'firstbyte', (new Date()).getTime()]];
            (function() {
                var s = document.getElementsByTagName('script')[0]
                  , p = document.createElement('script');
                p.async = 'async';
                p.src = '//rum-static.pingdom.net/prum.min.js';
                s.parentNode.insertBefore(p, s);
            })();
        </script>
        <!-- End Pingdom RUM -->
            
        <!-- Segment.io -->
        <script type="text/javascript">
            window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(a){return function(){var t=Array.prototype.slice.call(arguments);return t.unshift(a),window.analytics.push(t),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(a){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+a+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},window.analytics.SNIPPET_VERSION="2.0.6",
            window.analytics.load("kjj37zev7u"),
            window.analytics.page();
        </script>

        <!-- These next two lines include our TypeKit fonts -->
        <script type="text/javascript" src="//use.typekit.net/hqf0oje.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        
        <link rel="stylesheet" href="{{dotComCdn}}/wp-content/themes/disillusion/style.css">
        <link rel="stylesheet" href="/assets/docs.css">

        <link rel="shortcut icon" href="{{dotComCdn}}/assets/ico.png">

        <!-- SEO Metadata -->
        <meta name="description" content="{{highlights}}"/>

        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{title}} | Referral SaaSquatch Documentation" />
        <meta property="og:description" content="{{highlights}}" />
        <meta property="og:url" content="http://docs.referralsaasquatch.com/" />
        <meta property="og:site_name" content="Referral SaaSquatch" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@getSaaSquatch"/>
        <meta name="twitter:domain" content="Referral SaaSquatch"/>
        <meta name="twitter:creator" content="@getSaaSquatch"/>
        <!-- / SEO metadata. -->
        
        <!-- Swiftype Metadata -->
        <meta class="swiftype" name="title" data-type="string" content="{{title}}" />
        <meta class="swiftype" name="body" data-type="text" content="{{highlights}}" />
        <meta class='swiftype' name='type' data-type='enum' content='{{sectionType}}' />
        <!-- / Swiftype Metadata -->
        
        <link rel='stylesheet' id='Open Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&#038;ver=3.8' type='text/css' media='all' />
        <link rel='stylesheet' id='pt-mediaqueries-css'  href='{{dotComCdn}}/wp-content/themes/disillusion/css/mediaqueries.css' type='text/css' media='all' />

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    </head>
    

    <body class="page docs" style="padding-bottom: 0"> 

        <!-- Begin Header / Nav -->
        <header class="navbar navbar-fixed-top" data-swiftype-index="false">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>

                    <!-- Logo -->
                    <a href="http://www.referralsaasquatch.com" class="brand"><img src="{{dotComCdn}}/assets/RS-Logo-Head-Long-small-2.png" alt="Referral SaaSquatch Logo" title="Referral SaaSquatch"></a>                    

                    <!-- Navigation --> 
                    <div class="nav-collapse collapse" id="navigation">
                        <ul id="menu-primary-navigation" class="nav">
                        <li id="menu-item-1759" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1759"><a href="http://www.referralsaasquatch.com/#features">Features</a></li>
                        <li id="menu-item-4254" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-3660 current_page_item active menu-item-4254"><a href="http://www.referralsaasquatch.com/pricing/">Pricing</a></li>
                        <li id="menu-item-990" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-952 current_page_item active menu-item-990"><a href="http://docs.referralsaasquatch.com/">Documentation</a></li>
                        <li id="menu-item-1564" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1564"><a href="https://app.referralsaasquatch.com/">Login</a></li>
                        <li id="menu-item-1760" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1760"><a href="http://www.referralsaasquatch.com/#sign-up">Sign Up</a></li>
                    </ul>                   
                    </div>
                </div>
            </div>
        </header>
        <!-- End Header / Nav -->


    <div class="container">

        {% block container %}{% endblock container %}
        
    </div><!-- end of main content .container -->

    <!-- Begin footer -->
    <footer id="footer" data-swiftype-index="false">

	<section class="copyright">
	<div class="container">
	    <div class="row-fluid">
	    <div class="span7 text-center hidden-phone">
	        <div class="row-fluid">
	        <div class="span3" >
    	        <ul style="list-style-type: none; color:white; font-weight:300;">
    	            <li>Product</li>
    	            <li class="active"><a href="http://www.referralsaasquatch.com//#features">Features</a></li>
    	            <li><a href="http://www.referralsaasquatch.com//integration-gallery">Integrations</a></li>
    	            <li><a href="http://www.referralsaasquatch.com//pricing">Pricing</a></li>
    	            <li><a href="http://docs.referralsaasquatch.com">Documentation</a></li>
    	            <li><a href="http://docs.referralsaasquatch.com/api">API</a></li>
    	       </ul>
	        </div>
	        <div class="span3" >
    	        <ul style="list-style-type: none; color:white; font-weight:300;">
    	            <li>Updates</li>
    	            <li><a href="http://www.referralsaasquatch.com//blog">Blog</a></li>
    	            <li><a href="http://www.referralsaasquatch.com//news">News</a></li>
    	            <li><a href="http://sightings.referralsaasquatch.com">Sightings</a></li>
    	            <li><a href="http://twitter.com/getSaaSquatch">Twitter</a></li>
    	            <li><a href="https://facebook.com/ReferralSaasquatch">Facebook</a></li>
    	            <li><a href="https://plus.google.com/105100610648872597437/posts">Google+</a></li>
    	            
    	       </ul>
	        </div>
	        <div class="span3">
    	        <ul style="list-style-type: none; color:white; font-weight:300;">
    	            <li>Company</li>
    	             <li><a href="http://www.referralsaasquatch.com//about">About</a></li>
    	            <li><a href="http://www.referralsaasquatch.com//customer-gallery">Customers</a></li>
    	            <li><a href="http://www.referralsaasquatch.com//careers">Careers</a></li>
    	            <li><a href="http://www.referralsaasquatch.com//contact-us">Contact Us</a></li>
    	            <li><a href="http://www.referralsaasquatch.com//partner-program">Partners</a></li>
    	       </ul>
	        </div>
	        <div class="span3">
    	        <ul style="list-style-type: none; color:white; font-weight:300;">
    	            <li>Legal</li>
    	            <li><a href="http://www.referralsaasquatch.com//terms-of-service">Terms of Service</a></li>
    	            <li><a href="http://www.referralsaasquatch.com//privacy-policy">Privacy Policy</a></li>
    	       </ul>
	        </div>
	        </div>
	   </div>
	   
	   <div class="span4 hidden-phone">
    	   <p style="color:white;">Looking to learn more about <strong>Referral Marketing?</strong>
    	   Signup for our Crash Email Course and weekly blog articles!</p>
            <form action="https://www.getdrip.com/6178388/campaigns/68/subscribe" method="post" target="_blank" data-drip-embedded-form="68">
                <div>
                
                <input style="margin-bottom: 0px;" type="email" name="fields[email]" placeholder="email" value="" />
                <input class="btn" type="submit" name="submit" value="Start the Course" data-drip-attribute="sign-up-button" />
              </div>
              
            </form>
    	   
    	   
	   </div>
	   </div>
	  <div class="span12 text-center" style="color: white; margin-left:0px;">
    <p style="margin-top: 61px; margin-bottom: -46px; opacity:0.7; ">Copyright © 2015 Referral SaaSquatch.com. All rights reserved.</p>
    <p class="hidden-phone" style="margin-top: 45px; margin-bottom: -46px; opacity:0.7; ">1017 Fort St, Victoria, British Columbia,V8V 3K5, Canada</p>
    </div>
	  
	 </div>
	</section> 
    <!-- End footer -->
    
    <script type='text/javascript' src='{{dotComCdn}}/wp-includes/js/jquery/jquery.js?ver=1.10.2'></script>
    <script type='text/javascript' src='{{dotComCdn}}/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
    <script type='text/javascript' src='{{dotComCdn}}/wp-content/themes/disillusion/js/vendor/modernizr-2.6.2.min.js'></script>
    <script type='text/javascript' src='{{dotComCdn}}/wp-content/themes/disillusion/js/vendor/bootstrap.min.js'></script>
    <script type='text/javascript' src='{{dotComCdn}}/wp-content/themes/disillusion/js/vendor/google-code-prettify/prettify.js'></script>
    <script type='text/javascript' src='/assets/jquery.jsonview.js'></script>
    <script type='text/javascript' src='/assets/docs.js'></script>

    <script>
    	var _gaq = _gaq || [];
    	_gaq.push(['_setAccount', 'UA-39831433-1']);
        //_gaq.push(['_trackPageview']);

    	// LV: This prefixes all paths with "docs", which helps with google analytics page tracking
        _gaq.push(['_trackPageview', '/docs/' + document.location.pathname]);
    
    	(function() {
        	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    	})();
    </script>
      
    <script type="text/javascript">

        if (matchMedia('only screen and (min-width: 641px)').matches) {

            var __lc = {};
            __lc.license = 5490211;
            
            (function() {
            	var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
            	lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
            	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
        })();}
    </script>
    
</body>
</html>
