{% extends './guides.html' %}

{% block articleContent %}

<ul class="js-faq-list">
{% for faq in fields.answers['en-US'] %}
    <li><a href="#{{faq.fields.question['en-US'] | slug}}">{{faq.fields.question['en-US']}}</a></li>
{% endfor %}
</ul>

<hr/>

{% for faq in fields.answers['en-US'] %}
<div class="docs-faq-question" id="{{faq.fields.question['en-US'] | slug}}">
    <h3>{{faq.fields.question['en-US']}}</h3>
    <p>{{faq.fields.answer['en-US'] | markdown | safe }}</p>
</div>
{% endfor %}

<pre class="jsonview" style="display:none;"><code>{{fields | json(4) }}</code></pre>

{% endblock articleContent %}

