{% set sectionType = 'guide' %}

{% extends './article.html' %}

{% block navbar %}
    <li class="nav-header">Examples</li>
    
    <li><a href="/guides/dollar-credit"><i class="fa fa-docs-chevron"></i>Give $20 credit</a></li>
    <li><a href="/guides/percent-discount"><i class="fa fa-docs-chevron"></i>Give 10% off</a></li>
    <li><a href="/guides/percent-discount-nojs"><i class="fa fa-docs-chevron"></i>Give 10% off (No JS)</a></li>
    <!-- <li><a href="/guides/feature-upgrade"><i class="fa fa-docs-chevron"></i>Give 500MB space</a></li> -->
    <!-- <li><a href="/guides/free-time"><i class="fa fa-docs-chevron"></i>Give 1 Month free</a></li>-->
    <!-- <li><a href="/guides/in-app-credit"><i class="fa fa-docs-chevron"></i>Give 10 in-app credits</a></li> -->
    <li><a href="/guides/point-reward"><i class="fa fa-docs-chevron"></i>Give 50 points</a></li> 


    <li class="nav-header">Subscription System Integrations</li>
    <li><a href="/braintree"><i class="fa fa-docs-chevron"></i>Braintree</a></li>
    <li><a href="/recurly"><i class="fa fa-docs-chevron"></i>Recurly</a></li>
    <li><a href="/stripe"><i class="fa fa-docs-chevron"></i>Stripe</a></li>
    <li><a href="/zuora"><i class="fa fa-docs-chevron"></i>Zuora</a></li>

    <li class="nav-header">Core Topics</li>
    <li><a href="/topics/identification"><i class="fa fa-docs-chevron"></i>Identification</a></li>
    <li><a href="/topics/attribution"><i class="fa fa-docs-chevron"></i>Attribution</a></li>
    <li><a href="/topics/conversion"><i class="fa fa-docs-chevron"></i>Conversion</a></li>
    <li><a href="/topics/fulfillment"><i class="fa fa-docs-chevron"></i>Fulfillment</a></li>

    <li class="nav-header">Tips and Tricks</li>
    <li><a href="/free-trials"><i class="fa fa-docs-chevron"></i>Free trials</a></li>
    <li><a href="/shared-vs-solo-accounts"><i class="fa fa-docs-chevron"></i>Shared vs Solo Accounts</a></li>
    <li><a href="/testing"><i class="fa fa-docs-chevron"></i>Testing</a></li>
    <li><a href="/mobile"><i class="fa fa-docs-chevron"></i>Mobile</a></li>
    
    <li class="nav-header">Best Practices</li>
    <li><a href="/bestpractices/common-pitfalls"><i class="fa fa-docs-chevron"></i>Common Pitfalls</a></li>
    <li><a href="/bestpractices/buttons"><i class="fa fa-docs-chevron"></i>Refer-a-friend buttons</a></li>
    <li><a href="/bestpractices/speed"><i class="fa fa-docs-chevron"></i>Page Speed</a></li>
    
    <li class="nav-header">FAQ</li>
    <li><a href="/faq"><i class="fa fa-docs-chevron"></i>General</a></li>
    <li><a href="/faq/pricing"><i class="fa fa-docs-chevron"></i>Pricing</a></li>
{% endblock navbar %}