{% extends './bottom.html' %}

{% block container %}

<!-- Docs nav
================================================== -->
<div class="row-fluid">
   {% block content %}{% endblock content %}
</div><!-- end of main content #docs.row -->

        
<div class="docs-searchbox-full">
    <h3>Looking for something special?</h3>
    
    <form class="js-search-form form-search">
      <div class="input-append">
        <input type="text" class="search-query">
        <button type="submit" class="btn">Search Docs</button>
      </div>
    </form>
    
    Still couldn't find it? <a class="typeform-share button" href="https://logvol.typeform.com/to/iKqYLd" data-mode="2" target="_blank">Give Feedback</a>
    

</div>

{% endblock container %}