{% extends './hasSearchBox.html' %}

{% set tocContents = contents | tableOfContents %}

{% block content %}
<div class="span9">
    
    <section class="article-content">
      
      {% if hero %}<div class="hero-unit article {{category}}">{% endif %}
    
      <div class="page-header">
        <h1 id="top">{{title}}</h1>{% for tag in tags %}{% if tag=="Beta" %}<span class="label docs-label-beta">Beta</span>{% endif %}{% endfor %}
      </div>
      
      {% if coverImage %}
        <img src="{{coverImage.url}}" alt="{{coverImage.name}}" id="coverImage"/>
      {% endif %}
      
      {% if highlights %}
      <div class="lead">
        {{ highlights | markdown | safe }}
      </div>
      {% endif %}
      
      {% if hero %}</div><!-- end hero block -->{% endif %}
      
      {% for tag in tags %}{% if tag=="Beta" %}<blockquote><p>This feature is currently in Beta. Please contact our <a href="mailto:support@referralsaasquatch.com">support team</a> to learn more about how to enroll.</p></blockquote>{% endif %}{% endfor %}

      {% block articleContent %}
      {{ tocContents.content | safe }}
      {% endblock articleContent %}
      
    </section>
</div>
<div class="span3" id="toc-holder">
    <div id="toc-content" data-spy="affix" data-offset-top="90" data-clampedwidth="#toc-holder" class="hidden-mobile">
        <div class="toc-title">In this Article:</div>
        
        {%if markdownToc.content %}
          {{ markdownToc.content | markdown |safe}}
        {% else %}
          <ul>
              <li><a href="#top">Introduction</a></li>
          {% for heading in tocContents.headings %}
              <li><a href="#{{heading.id}}">{{heading.text}}</a></li>
          {% endfor %}
          </ul>
        {% endif %}
    </div>
</div>
{% endblock content %}