{% extends './hasSearchBox.html' %}
{% block content %}
<section class="integrationLander">

  <div class="page-header">
    <h1 class="integrationHeader">
      <img src="/assets/images/integrations/{{logo}}" alt="{{integrationName}}" >
      +
      <img src="/assets/images/integrations/saasquatch.png" alt="SaaSquatch">
    </h1>

    <div class="row-fluid">
      <div class="lead span8 offset2">
        {{ integrationDescription | markdown | safe }}
      </div>
    </div>
  </div>

<div class="row-fluid">

  <div class="span7">

    <h3>Key features</h3>

    <ul>
    {% for feature in keyFeatures %}
    <li>{{feature | markdown | safe }}</li>
    {% endfor %}
    </ul>
    
    <h3>{{integrationName}} Software Integration Questions?</h3>
    
    <input type="button" class="btn" onclick="location.href='https://www.referralsaasquatch.com/integration-inquiry/?integration={{integrationName}}';" value="Find out more" />

  </div>

  <div class="span5 well">
    <h3>{{integrationName}} Integration Resources</h3>
    <ul>
    {% for info in moreInfo %}
    <li>{{ info | markdown | safe }}</li>
    {% endfor %}
    </ul>
    
    <h3>Additional Help Center Articles</h3>
    <ul>
      <li><a href="/success/intro/">Getting Started with SaaSquatch</a></li>
      <li><a href="/success/core-topics/">How Referral Programs Work</a></li>
      <li><a href="/success/using-referral-saasquatch/">Using the SaaSquatch Portal</a></li>
    </ul>
  </div>

</div>
  {% block articleContent %}
  {{ contents | safe }}


</section>
{% endblock content %}
