{% extends './hasSearchBox.html' %}
{% block content %}
<section class="integrationLander">
  
  <div class="page-header">
    <h1 class="integrationHeader">
      <img src="/assets/images/integrations/{{integrations[integrationName].logo}}" alt="{{integrationName}}" >
      +
      <img src="/assets/images/integrations/saasquatch.png" alt="Referral SaaSquatch" class="squatch">
    </h1>
  
    <div class="row-fluid">
      <div class="lead span8 offset2">
        {{ highlights | markdown | safe }}
      </div>
    </div>
  </div>

<div class="row-fluid">

  <div class="span6">
  
    <h3>Key features</h3>
    
    <ul>
    {% for feature in keyFeatures %}
    <li>{{feature | markdown | safe }}</li>
    {% endfor %}
    </ul>
  
  </div>
  
  <div class="span6 well">
    <h3>Integration Information</h3>
    <ul>
    {% for info in moreInfo %}
    <li>{{ info | markdown | safe }}</li>
    {% endfor %}
    </ul>
    
    <h3>Help Center Articles</h3>
    <ul>
      <li><a href="/success/intro/">Getting Started with Referral SaaSquatch</a></li>
      <li><a href="/guides/morp-install/">Install Guide for Marketers</a></li>
      <li><a href="/success/core-topics/">How Referral Programs Work</a></li>
      <li><a href="/success/using-referral-saasquatch/">Using the Referral SaaSquatch Portal</a></li>
    </ul>
  </div>
  
</div>
  {% block articleContent %}
  {{ contents | safe }}

  
</section>
{% endblock content %}