{% set sectionType = 'mobile' %}

{% extends './article.html' %}

{% block navbar %}
    <li><a href="/mobile">Overview</a></li>
    
    <li class="nav-header">Reference</li>
    <li><a href="/mobile/widget"><i class="fa fa-docs-chevron"></i>Widget</a></li>
    <li><a href="/mobile/attribution"><i class="fa fa-docs-chevron"></i>Attribution</a></li>
    <li><a href="/mobile/identification"><i class="fa fa-docs-chevron"></i>Indentification</a></li>

    <li class="nav-header">Integrations</li>
    <li><a href="/mobile/branch-metrics"><i class="fa fa-docs-chevron"></i>Branch</a></li>

    <li class="nav-header">Libraries / SDKs</li>
    <li><a href="/mobile/ios"><i class="fa fa-docs-chevron"></i>iOS</a></li>
    <li><a href="/mobile/android"><i class="fa fa-docs-chevron"></i>Android</a></li>
    <li><a href="/mobile/windows"><i class="fa fa-docs-chevron"></i>Windows Phone</a></li>
    <li><a href="/mobile/xamarin"><i class="fa fa-docs-chevron"></i>Xamarin</a></li>
    <li><a href="/mobile/cardova"><i class="fa fa-docs-chevron"></i>Cardova</a></li>


{% endblock navbar %}