{% set sectionType = 'jsReference' %}

{% extends './article.html' %}

{% block navbar %}
    <li><a href="/app-integration"><i class="icon-chevron-right"></i>Installation</a></li>
    <li><a href="/squatchjs/signed-requests"><i class="icon-chevron-right"></i>Signed Requests</a></li>
    <li><a href="/segment-io"><i class="icon-chevron-right"></i>Segment.io</a></li>
    <li><a href="/squatchjs/issue"><i class="icon-chevron-right"></i>Issue Code List</a></li>

    <li class="nav-header">Methods</li>

    <li><a href="/squatchjs#init"><i class="icon-chevron-right"></i>init</a></li>
    <li><a href="/squatchjs#autofill"><i class="icon-chevron-right"></i>autofill</a></li>
    <li><a href="/squatchjs#open"><i class="icon-chevron-right"></i>open</a></li>
    <li><a href="/squatchjs#close"><i class="icon-chevron-right"></i>close</a></li>
    
{% endblock navbar %}