{% set sectionType = 'jsReference' %}

{% extends './article.html' %}

{% block navbar %}
    <li><a href="/app-integration">Installation</a></li>
    <li><a href="/squatchjs/signed-requests">Signed Requests</a></li>
    <li><a href="/segment-io">Segment.io</a></li>
    <li><a href="/squatchjs/issue">Issue Code List</a></li>

    <li class="nav-header">Methods</li>

    <li><a href="/squatchjs#init"><i class="fa fa-docs-chevron"></i>init</a></li>
    <li><a href="/squatchjs#autofill"><i class="fa fa-docs-chevron"></i>autofill</a></li>
    <li><a href="/squatchjs#open"><i class="fa fa-docs-chevron"></i>open</a></li>
    <li><a href="/squatchjs#close"><i class="fa fa-docs-chevron"></i>close</a></li>
    
{% endblock navbar %}