{% set sectionType = 'themes' %}

{% extends './article.html' %}

{% block navbar %}
    <li><a href="/themes">Overview</a></li>
    
    <li class="nav-header">Tutorials</li>
    <li><a href="/themes/standard"><i class="fa fa-docs-chevron"></i>Standard Themes</a></li>
    <li><a href="/themes/custom"><i class="fa fa-docs-chevron"></i>Custom Themes</a></li>

    <li class="nav-header">Managing Themes</li>
    <li><a href="/themes/git"><i class="fa fa-docs-chevron"></i>Using Git</a></li>
    <li><a href="/themes/publish"><i class="fa fa-docs-chevron"></i>Publishing</a></li>

    <li class="nav-header">Reference Manual</li>
    <li><a href="/themes/templates"><i class="fa fa-docs-chevron"></i>Templates</a></li>
    <li><a href="/themes/assets"><i class="fa fa-docs-chevron"></i>Assets</a></li>
    <li><a href="/themes/fields"><i class="fa fa-docs-chevron"></i>Fields</a></li>
    <li><a href="/themes/helpers"><i class="fa fa-docs-chevron"></i>Helpers</a></li>
    <li><a href="/themes/variables"><i class="fa fa-docs-chevron"></i>Variables</a></li>
    <li><a href="/themes/short-tags"><i class="fa fa-docs-cevron"></i>Short Tags</a></li>

{% endblock navbar %}