{% extends './bottom.html' %}

{% block container %}

<!-- Docs Sections
================================================== -->

<div class="row-fluid">
    <div class="span12">
        <ul class="nav nav-tabs">
          <li {% if sectionType == 'gettingStarted' %}class="active"{% endif %}><a href="/"><i class="fa fa-life-ring"></i> Getting Started</a></li>
          <li {% if sectionType == 'guide' %}class="active"{% endif %}><a href="/guides"><i class="fa fa-book"></i> Guides</a></li>
          <li {% if sectionType == 'apiReference' %}class="active"{% endif %}><a href="/api"><i class="fa fa-desktop"></i> API</a></li>
          <li {% if sectionType == 'jsReference' %}class="active"{% endif %}><a href="/squatchjs"><i class="fa fa-html5"></i> Squatch.js</a></li>
          <li {% if sectionType == 'mobile' %}class="active"{% endif %}><a href="/mobile"><i class="fa fa-mobile"></i> Mobile</a></li>
          <li {% if sectionType == 'themes' %}class="active"{% endif %}><a href="/themes"><i class="fa fa-paint-brush"></i> Themes</a></li>

          <li class="pull-right">
            <a class="typeform-share button" href="https://logvol.typeform.com/to/iKqYLd" data-mode="2" target="_blank"><i class="fa fa-smile-o"></i> Give Feedback</a>
          </li>
        </ul>
    </div>
</div>


<!-- Docs nav
================================================== -->
<div class="row-fluid" style="padding-bottom: 60px;">
  <div class="span3 docs-sidebar" data-swiftype-index="false">
    <ul class="nav nav-list docs-sidenav">
       {% block navbar %}{% endblock navbar %}
    </ul>
  </div>
    <div class="span9">
       {% block content %}{% endblock content %}
        
    </div><!-- end of right column -->
</div><!-- end of main content #docs.row -->

        
<div class="docs-searchbox-full">
    <h3>Looking for something special?</h3>
    
    <form class="js-search-form form-search">
      <div class="input-append">
        <input type="text" class="search-query">
        <button type="submit" class="btn">Search Docs</button>
      </div>
    </form>
    
    Still couldn't find it? <a class="typeform-share button" href="https://logvol.typeform.com/to/iKqYLd" data-mode="2" target="_blank">Give Feedback</a>
    

</div>

{% endblock container %}

