{% extends './bottom.html' %}

{% block container %}

<!-- Docs Sections
================================================== -->
<div class="row-fluid">
    <div class="span12">
        <ul class="nav nav-tabs">
          <li {% if sectionType == 'gettingStarted' %}class="active"{% endif %}><a href="/"><i class="fa fa-life-ring"></i> Getting Started</a></li>
          <li {% if sectionType == 'guide' %}class="active"{% endif %}><a href="/guides"><i class="fa fa-book"></i> Guides</a></li>
          <li {% if sectionType == 'apiReference' %}class="active"{% endif %}><a href="/api"><i class="fa fa-desktop"></i> API</a></li>
          <li {% if sectionType == 'jsReference' %}class="active"{% endif %}><a href="/squatchjs"><i class="fa fa-html5"></i> Squatch.js</a></li>
          <li {% if sectionType == 'themes' %}class="active"{% endif %}><a href="/themes"><i class="fa fa-paint-brush"></i> Themes</a></li>
        </ul>
    </div>
</div>


<!-- Docs nav
================================================== -->
<div class="row-fluid" style="padding-bottom: 60px;">
  <div class="span3 docs-sidebar" data-swiftype-index="false">
    <ul class="nav nav-list docs-sidenav">
       {% block navbar %}{% endblock navbar %}
    </ul>
  </div>
    <div class="span9">
       {% block content %}{% endblock content %}
        
    </div><!-- end of right column -->
</div><!-- end of main content #docs.row -->

{% endblock container %}

