@import "_variables.less"

.docs{
    /* .docs is applied to the BODY in documentation to differentiate styles in documentation from that in the website */  
    
    padding-top: 180px;
}



/* OVERRIDES default h2 styling from the website */
.docs h2{
    font-size: 36px;
    font-weight: 600;
}

/** HIDES the border around code blocks for both PRE and CODE tags, which removes some jarringness */
.docs pre,
.docs code{
    border: none;
}

.docs .container section {
    padding-top: 60px;
}

.docs .container section:first-child {
    padding-top: 0;
}


/**
    Docs Sidebar 
**/
.docs-sidebar{
    padding-top: 31px;
}


/*
    Monospace fonts are used for URLs and other pseudo-code like blocks
*/
.docs-monospace{
    font-family: Monaco,Consolas,"Lucida Console",monospace;
    font-size: 12px;
}

/** Styles removed from the body -- were probably piped through by wordpress plugin theming **/
.navbar .nav > li > .dropdown-menu:after
{ border-bottom: 7px solid ; }

.nav-pills > li > a:hover, .nav-pills > li.active > a,.nav-pills > li.active > a:hover
{ border: 1px solid ; }

a .link {background-color:#fff;}


/**
    Install checklist style for collapsable todo list
    
    used on page: /api-guide
**/

.install-guide-checklist h5{
  cursor: pointer;
  color: #08c; /** Links color **/
}
.install-guide-checklist h5:before {
  content: "> ";
  color: #2a1e1c;
}
.install-guide-checklist h5:after{
  content: "(click to expand)";
  font-weight: normal;
  font-size: 12px;
  margin-left: 12px;
  color: #2a1e1c;
}



.apidocs-args th{
    text-align: right;
}



.label.program-type-label{
    background-color: @colorForRewardTypes;
}


.apidocs-section{
    padding-bottom: 200px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 200px;
}