@main(
    "API Integration Guide",
    "The Referral SaaSquatch REST API lets you integrate a referral program into any payment system."
) {
    <section id="recurly">
        <div class="page-header">
            <h1>API Integration Guide</h1>
        </div>
        
        <p class="lead">
        The Referral SaaSquatch REST API lets you integrate a referral program into any payment system. This guide will walk you through how to set up this integration.
        </p>
        
        <hr/>
        <h3>Installation checklist</h3>
        
        <h5 data-toggle="collapse" data-target=".install-step1">Step 1 - <a href="http://www.referralsaasquatch.com/#sign-up">Sign Up</a> for a SaaSquatch account<br></h5>
        <div class="install-step1 collapse in">
            <ul class="unstyled">
                <li><label class="checkbox"><input type="checkbox"> Talk to the customer success Squatch who emails you </label></li>
                <li><label class="checkbox"><input type="checkbox"> <a href="https://app.referralsaasquatch.com/">Login</a> to your new SaaSquatch account</label></li>
            </ul>
        </div>

        <h5 data-toggle="collapse" data-target=".install-step2">Step 2 - Install squatch.js</h5>
        <div class="install-step2 collapse">
            <p>squatch.js will show a gorgeously rendered popup in your app which will lets your customers seamlessly refer their friends.</p>
            <ul class="unstyled">
                <li><label class="checkbox"><input type="checkbox"> Install squatch.js on your page</label></li>
                <li><label class="checkbox"><input type="checkbox"> Replace the <a href="/squatchjs#init">init</a> variables with real user data</label></li>
                <li><label class="checkbox"><input type="checkbox"> Add a button to your page with <code>class="squatchpop"</code></label></li>
                <li><label class="checkbox"><input type="checkbox"> <span class="label">Testing</span> Click the button. Make sure the popup shows. (Make sure you are using the right <code>account_id</code> and <code>user_id</code>)</label></li>
            </ul>
        </div>
        
        <h5 data-toggle="collapse" data-target=".install-step3">Step 3 - Connect the API at signup</h5>
        <div class="install-step3 collapse">
            <p>When new friends click through on a referral link and signup, you're in charge of making sure that any discount is applied on their first bill.</p>
            <ul class="unstyled">
                <li><label class="checkbox"><input type="checkbox"> Add a hidden input to your checkout page</label></li>
                <li><label class="checkbox"><input type="checkbox"> Use <a href="/squatchjs#autofill">squatch.js autofill</a> to read the tracking cookie and set the active referral code in your form</label></li>
                <li><label class="checkbox"><input type="checkbox"> <a href="/api/methods#get_coupon">Validate the referral code</a> to ensure the discount is valid</label></li>
                <li><label class="checkbox"><input type="checkbox"> Apply a discount or credit to the first bill</label></li>
                <li><label class="checkbox"><input type="checkbox"> Use <a href="/api/methods#account_sync">accountsync REST endpoint</a> to update SaaSquatch about the new account</label></li>
                <li><label class="checkbox"><input type="checkbox"> <span class="label">Testing</span> Click a referral link and signup for a new account. <a href="https://app.referralsaasquatch.com/">Login</a> to your SaaSquatch account
                    to see the new referral in the news feed.
                </label></li>
            </ul>
        </div>

        <h5 data-toggle="collapse" data-target=".install-step4">Step 4 - Connect the API during billing runs</h5>
        <div class="install-step4 collapse">
            <p>Referral credit can increase and decrease as people refer more friends, so make sure to lookup the latest referral information during bill runs.</p>
            <ul class="unstyled">
                <li><label class="checkbox"><input type="checkbox"> <a href="/api/methods#get_account_reward">Lookup an account's reward</a></label></li>
                <li><label class="checkbox"><input type="checkbox"> Apply a discount or credit to the invoice</label></li>
                <li><label class="checkbox"><input type="checkbox"> Use <a href="/squatchjs#autofill">squatch.js autofill</a> to read the tracking cookie and set the active referral code in your form</label></li>
                <li><label class="checkbox"><input type="checkbox"> <span class="label">Testing</span> Run a billing run, 
                    make sure that a user gets a discount that matches what's in <a href="https://app.referralsaasquatch.com/">your SaaSquatch account</a>
                </label></li>
            </ul>
        </div>


        <h5 data-toggle="collapse" data-target=".install-step5">Step 5 - Connect the API for upgrades, downgrades and cancels</h5>
        <div class="install-step5 collapse">
            <p>When someone upgrades or downgrades, you might need to look up referral information again. Make to send us the new state of an account anytime it changes.</p>
            <ul class="unstyled">
                <li><label class="checkbox"><input type="checkbox"> Use the <a href="/api/methods#account_sync">accountsync REST endpoint</a> to update SaaSquatch about cancels, upgrades or cancels</label></li>
                <li><label class="checkbox"><input type="checkbox"> <a href="/api/methods#get_account_reward">Lookup an account's reward</a> if you need to apply any proration during upgrades or downgrades</label></li>
                <li><label class="checkbox"><input type="checkbox"> <span class="label">Testing</span> Cancel an account that was referred. <a href="https://app.referralsaasquatch.com/">Login</a> to your SaaSquatch account
                    to see that the person that referred that account is no longer earning credit for the cancelled account.
                </label></li>
            </ul>
        </div>


        <hr/>
        <h3><span class="label label-success">Step 0</span> Things you need to know before you start</h3>
        
        <ul class="unstyled">
            <li>
                <b>Test mode vs. live mode</b> - We let you test your referral program using a Recurly Sandbox account and fake credit cards before deploying to your production environment. To set up test mode, just follow this guide using 1) your Recurly Sandbox account and 2) your test mode tenant_alias (it starts with “test_”)
            </li>
        </ul>

        <hr/>
        <h3><span class="label label-success">Step 1</span> Add your Recurly API Key in the SaaSquatch Portal</h3>
        
        <p>
        We connect to the Recurly API using your Recurly API key. This lets us automatically apply discounts to people’s accounts.
        </p>
        <ol>
            <li><a href="https://app.recurly.com/login">Login to Recurly</a> and click on “Developer-> API Credentials”. <b>Copy the “API key”</b>.</li>
            <li><a href="http://app.referralsaasquatch.com">Login to Referral SaaSquatch</a> and go to “Setup” and click “Authorize”. <b>Paste in your Recurly API key that you just copied</b>, and press connect.</li>
            <li>Repeat this process for both your <b>test</b> and <b>live</b> accounts.</li>
        </ol>
        <p class="muted">
            <b>Note:</b> It is not required to setup a test environment but it will make testing easier for you.
        </p>
        
        <hr/>
        <h3><span class="label label-success">Step 2</span> Set up Recurly to forward Push Notifications to SaaSquatch</h3>
        
        <p>
        Referral SaaSquatch uses Recurly push notifications as triggers to know when accounts need to be updated. If you’re already using push 
        notifications then you’ll have to set up push notification forwarding. To set up Recurly to forward Push Notifications to us, you just need to 
        set our Push Notification URL as the endpoint in the Recurly portal.
        </p>
        <ol>
            <li><a href="http://app.referralsaasquatch.com">Login to Referral SaaSquatch</a> and go to “Setup”. <b>Copy the URL labelled Push Notification URL</b>. (it should look like https://app.referralsaasquatch.com/recurly/{tenant_alias}/webhook)</li>
            <li><a href="https://app.recurly.com/login">Login to Recurly</a> and go to Developer -> Push Notifications -> Configure. <b>Paste the URL you just copied</b> it into the field labeled Push Notification URL in Recurly. Press Update Configuration to save the URL and complete this step.</li>
            <li>Repeat this process for both your <b>test</b> and <b>live</b> accounts.</li>
        </ol>
        
        <hr/>
        
        <div class="well">
            
            <h5><span class="label">Optional</span> Referral SaaSquatch forwards to you</h5>
            
            <p>
            If you are already using push notifications in your app, then you will want to set up push notifications to get forwarded from Referral SaaSquatch to you.
            </p>
            <ul>
                <li><a href="http://app.referralsaasquatch.com">Login to Referral SaaSquatch</a>, go to “setup” and under “Push Notification Forwarding URL” press the button labeled Reset.</li>
                <li>Paste the URL you would like Referral SaaSquatch to forward push notifications to into the URL field.</li>
                <li>Press the button labeled reset to complete.</li>
            </ul>
            <p>
            When we forward push notifications to you, we act as a transparent proxy so any errors from your app will bubble up to Recurly and trigger Recurly’s webhook retry policies.
            </p>
        </div>
        <div class="well">
            <h5><span class="label">Optional</span> Alternative integration - Forward to Referral SaaSquatch</h5>
                 
            <p>
            If you are currently use push notifications, then you can forward push notification to us instead of us forwarding to you. When you receive Recurly Push Notifications you will need to build a solution that forwards all incoming Push Notifications to our endpoint.
            </p>
            
            <ul>
                <li>Push notifications that you forward do not need to be guaranteed. The next time we get a push notification from you, we’ll fully sync the info from the related accounts.</li>
                <li>Push notifications that you forward can be duplicated. If you send us the same notification twice, our system will just look at the current state of things and act accordingly.</li>
            </ul>
            
            <p>
            Please feel free to contact support@@saasquat.ch to talk to a developer about how to build this yourself.
            </p>
        </div>

        <hr/>
        
        <h4>More information </h4>

        <ul>
            <li><b>Recurly API Keys</b> - We connect to the Recurly API using your Recurly API key. This lets us automatically apply discounts to people’s accounts. While this makes setting up our integration extremely powerful, easy and fast, sharing API keys is not officially supported by Recurly.</li>
        </ul>
        
        <p>Check out our <a href="/bestpractices/common-pitfalls">Common Pitfalls Guide</a></p>


    </section>
}