@sections.apiReference(
    "API Reference",
    "The Referral SaaSquatch REST API lets developers extend the SaaSquatch platform using off-the-shelf HTTP clients."
) {
    <section>
        <div class="page-header">
            <h1>API Reference</h1>
        </div>
        
        <p>
            The Referral SaaSquatch API is organized around <a href="http://en.wikipedia.org/wiki/Representational_State_Transfer">REST</a>. Our API is designed to 
            have predictable, resource-oriented URLs and to use HTTP response codes to indicate API errors. We use built-in HTTP features, like HTTP authentication 
            and HTTP verbs, which can be understood by off-the-shelf HTTP clients. <a href="http://www.json.org/">JSON</a> will be returned in all responses from the 
            API, including errors.
        </p>
        
        <p>
            To make the Referral SaaSquatch API as explorable as possible, accounts have test-mode API keys as well as live-mode API keys. These keys can be active at the 
            same time. Data created with test-mode credentials will use your payment system's respective test mode and will never cost anyone money.
        </p>


        <table class="table">
            <tr>
                <td><strong>
                    API Endpoint
                </strong></td>
                <td class="docs-monospace">
                    https://app.referralsaasquatch.com/
                </td>
            </tr>
        </table>
        
        @tags.apiSummaryTable()   


        <hr/>
        <h3>See also</h3>
        <p>Just getting started with the API? Try these articles</p>
        <ul class="inline">
            <li><a href="/api/authentication">Authentication</a></li>
            <li><a href="/api/errors">Errors</a></li>
            <li><a href="/api/webhooks">Webhooks</a></li>
        </ul>



    </section>
}