@sections.apiReference(
    "Rest API Reference",
    "Our Rest API let's you build your own custom logic on top of your referral program. This API reference includes a guide to using all the methods of the Referral SaaSquatch Rest API."
) {
    <section>
        <div class="page-header">
            <h1>Rest API Reference</h1>
        </div>

        <p class="lead">
            Our Rest API let's you build your own custom logic on top of your referral program. This API reference includes a guide to using all the methods of the Referral SaaSquatch Rest API
        </p>

        @tags.apiSummaryTable()
        
        
        <h2>Set coupon/referral code on an account</h2>
        <a id="set_coupon" name="set_coupon" class="section-anchor">&nbsp;</a>

        <p>This method associates a new account with their referrer. Use this method when someone signs up for a paid account to set the coupon code used for them.  For Stripe and Recurly do not use this call. Instead
            during sign-up, just pass the coupon/referral code in your subcribe call.
        </p>
        <h4>Definition</h4>
        <pre class="prettyprint lang-curl">POST https://app.referralsaasquatch.com/api/v1/{TENANT_ALIAS}/coupon</pre>

        <h4>Arguments</h4>
        <div>
            <table class="table table-hover">
              <tr>
                <th class="docs-monospace">couponCode</th>
                <td><span class="label">Required</span></td>
                <td>
                    The coupon/referral code of the user that referred this user. Can be obtained from the referral-tracking cookie using <a href="#autofill">squatch.js coupon autofill</a>.
                </td>
              </tr>
              <tr>
                <th class="docs-monospace">accountId</th>
                <td><span class="label">Required</span></td>
                <td>
                    We use this ID to link a group of users together. See <a href="/shared-vs-solo-accounts">Shared vs Solo Accounts</a> to see what you should use here.
                </td>
              </tr>
              <tr>
                <th class="docs-monospace">paymentProviderId</th>
                <td><span class="label">Required</span></td>
                <td>
                    The payment provider ID of the newly created account from Braintree or Zuora. This will be the Braintree Account ID or the Zuora Account ID of the newly created account.
                </td>
              </tr>
            </table>
        </div>
    
        <h4>Returns</h4>
        <p>HTTP Status with an Empty Response Body</p>
        <table class="table table-hover">
            <tr>
            <th>Braintree</th>
            <td>
                HTTP 201 on success
            </td>
            <td>
                Sets the value of the <code>saasquatch_coupon</code> custom field in Braintree and triggers an update to the referrer's account.
            </td>
            </tr>
            <tr>
            <th>Recurly</th>
            <td>
                HTTP 400 not implemented
            </td>
            <td>
                Pass the coupon code to <a href="http://docs.recurly.com/api/subscriptions#create-subscription">Recurly Create Subscription</a> instead.
            </td>
            </tr>
            <tr>
            <th>Stripe</th>
            <td>
                HTTP 400 not implemented
            </td>
            <td>
                 Pass the coupon code to <a href="https://stripe.com/docs/api#create_customer">Stripe Create Customer</a> instead.
            </td>
            </tr>
            <tr>
            <th>Zuora</th>
            <td>
                HTTP 201 on success
            </td>
            <td>
                Sets the value of the <code>saasquatchCoupon</code> custom field in Zuora and triggers an update to the referrer's account.
            </td>
            </tr>
            <tr>
            <th>Generic / API</th>
            <td>
                HTTP 400 not implemented
            </td>
            <td>
                Pass the coupon code to the <a href="/api/methods#account_sync">account sync</a> API endpoint instead.
            </td>
            </tr>
        </table>
            

        <h4>Example Request</h4>
<pre class="prettyprint lang-curl">$ curl https://app.referralsaasquatch.com/api/v1/TENANT_ALIAS/coupon \
-u API_KEY: \
-H "Content-Type: application/json" \
-d '{"couponCode" : "BOBTESTERSON", "accountId" : "abc", "paymentProviderId" : "cus_123" }'</pre>

        <hr />
        
        <h2>Lookup a coupon/referral code</h2>
        <a id="get_coupon" name="get_coupon" class="section-anchor">&nbsp;</a>

        <p>This method lets you look up the details of a referral code and to ensure that it is valid.</p>
        <h4>Definition</h4>
        <pre class="prettyprint lang-curl">GET https://app.referralsaasquatch.com/api/v1/{TENANT_ALIAS}/coupon/{CODE}</pre>

        <h4>Arguments</h4>
        <div>
            <table class="table table-hover">
              <tr>
                <th class="docs-monospace">code</th>
                <td><span class="label">Required</span></td>
                <td>
                    The coupon/referral code to look up
                </td>
              </tr>
            </table>
        </div>
    
        <h4>Returns</h4>
        <p>Information about the coupon, or an HTTP 404 if the coupon code is not found.</p>
        <table class="table table-hover">
            <tr>
                <th class="docs-monospace">couponCode</th>
                <td>String</td>
                <td>
                    The coupon/referral code
                </td>
            </tr>
            <tr>
                <th class="docs-monospace">discountPercentage</th>
                <td>Number</td>
                <td>
                    An integer representing the discount percentage. e.g. For 10% would return the number 10.
                </td>
            </tr>
            <tr>
                <th class="docs-monospace">dateCreated</th>
                <td>Timestamp</td>
                <td>
                    The coupon/referral code to look up
                </td>
            </tr>
            <tr>
                <th class="docs-monospace">ratePlanId</th>
                <td>String</td>
                <td>
                    <span class="label">Zuora only</span>
                    The Zuora rate plan ID used to apply this coupon.
                </td>
            </tr>
            <tr>
                <th class="docs-monospace">discountId</th>
                <td>String</td>
                <td>
                    <span class="label">Braintree only</span>
                    The Braintree discount ID used to apply this coupon.
                </td>
            </tr>
            <tr>
                <th class="docs-monospace">referrerName</th>
                <td>String</td>
                <td>
                    The full name of the referrer who owns this code.
                </td>
            </tr>
        </table>
        
        <h4>Example Request</h4>
<pre class="prettyprint lang-curl">$ curl https://app.referralsaasquatch.com/api/v1/{TENANT_ALIAS}/coupon/JOHNDOE \
-u API_KEY: \
-H "Content-Type: application/json"</pre>

        <h4>Example Response</h4>
<pre class="prettyprint lang-json">{
    "couponCode" : "JOHNDOE", 
    "discountPercentage" : 20, 
    "dateCreated" : 1377727546528,
    "discountId" : "saasquatch_discount"
}</pre>

        <hr />

        <h2>Update an account's status</h2>
        <a id="account_sync" name="account_sync" class="section-anchor">&nbsp;</a>

        <p>Use this method to update SaaSquatch when the status of an account changes or when a new account is created. 
            If you're using a payment system connector, such as the Recurly connector, then you won't need to use this method. We automatically track account status for Braintree, Stripe, Reculy and Zuora.</p>
        <h4>Definition</h4>
        <pre class="prettyprint lang-curl">POST https://app.referralsaasquatch.com/api/v1/{TENANT_ALIAS}/accountsync</pre>

        <h4>Arguments</h4>
        <div>
            <table class="table table-hover">
              <tr>
                <th class="docs-monospace">id</th>
                <td><span class="label">Required</span></td>
                <td>
                    The id of the account. This should be the same <code>account_id</code> used for <a href="/app-integration">squatch.js</a>. Not sure what to use here? See <a href="/shared-vs-solo-accounts">Shared vs. Solo accounts</a>
                </td>
              </tr>
              <tr>
                <th class="docs-monospace">subscription</th>
                <td><span class="label">Required</span></td>
                <td>
                    An object describing the current subscription for this account.<br><br>
                    
                    <table class="table table-hover">
                          <tr>
                            <th class="docs-monospace">status</th>
                            <td>
                                The status of the subscription. One of <code>PAID</code>, <code>TRAIL</code>, <code>FREE</code> or <code>CANCELLED</code>, 
                            </td>
                          </tr>
                          <tr>
                            <th class="docs-monospace">billingIntervalType</th>
                            <td>
                                The unit type for <code>billingIntervalValue</code>. One of <code>DAY</code>, <code>WEEK</code>, <code>MONTH</code>,  <code>QUARTER</code>, <code>SEMI_ANNUAL</code> or <code>YEAR</code>.
                                Required when <code>status: PAID</code>.
                            </td>
                          </tr>
                          <tr>
                            <th class="docs-monospace">billingIntervalValue</th>
                            <td>
                                The number of <code>billingIntervalType</code>. Required when <code>status: PAID</code>.<br/>
                                
                                <table class="table">
                                    <caption>Example billing intervals</caption>
                                    <tr><td></td><td>billingIntervalValue</td><td>billingIntervalType</td></tr>
                                    <tr><td>Monthly billing</td><td>1</td><td>MONTH</td></tr>
                                    <tr><td>Yearly billing</td><td>1</td><td>YEAR</td></tr>
                                    <tr><td>4 Month billing</td><td>4</td><td>MONTH</td></tr>
                                </table>

                            </td>
                          </tr>
                          <tr>
                            <th class="docs-monospace">value</th>
                            <td>
                                Dollar value of the subscription per renewal. Required when <code>status: PAID</code>.
                            </td>
                          </tr>
                    </table>
                </td>
              </tr>
              <tr>
                <th class="docs-monospace">referral</th>
                <td><span class="label">Optional</span></td>
                <td>
                    Info about who referred this account. Use this on first signup.<br><br>
                    
                    <table class="table table-hover">
                          <tr>
                            <th class="docs-monospace">code</th>
                            <td>
                                The referral code of the person that referred this account. Use <a href="/squatchjs#autofill">squatch.js autofill</a> to retrieve this value from the tracking cookie on your checkout form.
                            </td>
                          </tr>
                    </table>
                </td>
              </tr>
              <tr>
                <th class="docs-monospace">currency</th>
                <td><span class="label">Optional</span></td>
                <td>
                    Default is "USD". Otherwise use a ISO 4217 Standard currency code in uppercase.
                </td>
              </tr>
              </table>
        </div>
    
        <h4>Returns</h4>
        <p>The current status of the account, mirroring the input, or an HTTP Error code on error.</p>

        
        <h4>Example Request</h4>
<pre class="prettyprint lang-curl">$ curl https://app.referralsaasquatch.com/api/v1/{TENANT_ALIAS}/accountsync \
-u API_KEY: \
-H "Content-Type: application/json" \
-d '{ "id": "a1234",
"currency": "USD",
"subscription": {
    "status": "PAID",
    "value": 99.99,
    "billingIntervalType": "DAY",
    "billingIntervalValue": 30
  },
"referral": {
    "code": "3j033r"
  }
}'</pre>

        <h4>Example Response</h4>
<pre class="prettyprint lang-json">{ "id": "a1234",
    "currency": "USD",
    "subscription": {
    "status": "PAID",
    "value": 99.99,
    "billingIntervalType": "DAY",
    "billingIntervalValue": 30
  },
  "referral": {
    "code": "3j033r"
  }
}</pre>

        <hr />
        
        <h2>Lookup an account's reward</h2>
        <a id="get_account_reward" name="get_account_reward" class="section-anchor">&nbsp;</a>

        <p>This method associates a new account with their referrer. Use this method when someone signs up for a paid account to set the coupon code used for them.</p>
        <h4>Definition</h4>
        <pre class="prettyprint lang-curl">GET https://app.referralsaasquatch.com/api/v1/{TENANT_ALIAS}/account/{ACCOUNT_ID}/reward</pre>

        <h4>Arguments</h4>
        <div>
            <table class="table table-hover">
              <tr>
                <th class="docs-monospace">accountId</th>
                <td><span class="label">Required</span></td>
                <td>
                    The account to look up
                </td>
              </tr>
              <tr>
                <th class="docs-monospace">couponCode</th>
                <td><span class="label">Optional</span></td>
                <td>
                    When included, will return a total reward available including any coupon code.
                </td>
              </tr>
              </table>
        </div>
    
        <h4>Returns</h4>
        <p>Information about the account's reward, if any, or an HTTP 404 if the account doesn't exist in SaaSquatch yet.</p>
        <table class="table table-hover">
            <tr>
                <th class="docs-monospace">accountId</th>
                <td>String</td>
                <td>
                    The account id
                </td>
            </tr>
            <tr>
                <th class="docs-monospace">discountPercentage</th>
                <td>Number</td>
                <td>
                    An integer representing the total discount percentage from the referral program. e.g. For 10% would return the number 10. <code>discountPercentage = referredDiscountPercent + referrerDiscountPercent</code>
                </td>
            </tr>
            <tr>
                <th class="docs-monospace">referredDiscountPercent</th>
                <td>Number</td>
                <td>
                    An integer representing the discount percentage from being referred. This will only have a value if the account has a coupon/referral code 
                    already associated with it, or if <code>couponCode</code> was passed as an argument.
                </td>
            </tr>
            <tr>
                <th class="docs-monospace">referrerDiscountPercent</th>
                <td>Number</td>
                <td>
                    An integer representing the discount earned from referring other accounts.
                </td>
            </tr>
            <tr>
                <th class="docs-monospace">ratePlanId</th>
                <td>String</td>
                <td>
                    <span class="label">Zuora only</span>
                    The Zuora rate plan ID used to apply the discount.
                </td>
            </tr>
            <tr>
                <th class="docs-monospace">discountId</th>
                <td>String</td>
                <td>
                    <span class="label">Braintree only</span>
                    The Braintree discount ID used to apply the discount.
                </td>
            </tr>
            <tr>
            	<th class="docs-monospace">referrerName</th>
            	<td>String</td>
            	<td>
            		The first and last name of the referrer that referred the user or null if no referrer exists.
            	</td>
            </tr>
        </table>
        
        <h4>Example Request</h4>
<pre class="prettyprint lang-curl">$ curl https://app.referralsaasquatch.com/api/v1/{TENANT_ALIAS}/account/SV0TYE5OWI11120144/reward \
-u API_KEY: \
-H "Content-Type: application/json"</pre>

        <h4>Example Response</h4>
<pre class="prettyprint lang-json">{
    "accountId":"SV0TYE5OWI11120144",
    "discountPercentage":10,
    "referrerDiscountPercent":0,
    "referredDiscountPercent":10,
    "discountId":"saasquatch_discount"
}</pre>

        <hr />

        @* 
            Includes the webhook method reference here
        *@
        @tags.webhookMethods()


    </section>
}
