@sections.apiReference(
    "API Webhooks",
    "Referral SaaSquatch provides Webhooks via our API based upon the RestHooks guidelines."
) {
    <section>
        <div class="page-header">
            <h1>Webhooks</h1>
        </div>

        <p class="lead">
            The Referral SaaSquatch Webhooks API closely matches that described by the <a href="http://resthooks.org/docs/">RestHooks</a> guidelines.
        </p>
        <p>
            Interacting with third party APIs like Referral SaaSquatch often suffers from two important problems:
        </p>

        <ul>
            <li>Services not directly responsible for making an API request may still need to know the response</li>
            <li>Some events, like coupon created events, are not the result of a direct API request</li>                
        </ul>

        <p>
            Webhooks solve these problems by letting you register a URL that we will POST anytime an event happens in your account. When the event 
            occurs, for example when a vanity coupon code is created for a new user, Referral SaaSquatch creates an event object. This object contains all the relevant 
            information, including the type of event and the data associated with that event. Referral SaaSquatch then sends an HTTP POST request with the event object 
            to any URLs in your account's webhook settings. You can find a full list of all event types below.
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Method
                    </th>
                    <th>
                        Route
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        GET
                    </td>
                    <td class="docs-monospace">
                        /api/v1/{TENANT_ALIAS}/subscription
                    </td>
                    <td>
                        List webhook subscriptions
                    </td>
                </tr>
                <tr>
                    <td>
                        POST
                    </td>
                    <td class="docs-monospace">
                        /api/v1/{TENANT_ALIAS}/subscription
                    </td>
                    <td>
                        Create a webhook subscription
                    </td>
                </tr>
                <tr>
                    <td>
                        DELETE
                    </td>
                    <td class="docs-monospace">
                        /api/v1/{TENANT_ALIAS}/subscription/{URL}
                    </td>
                    <td>
                        Delete a webhook subscription
                    </td>
                </tr>
            </tbody>
        </table>
        
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Event type
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
            </thead>

                <tr>
                    <td class="docs-monospace">coupon.created</td>
                    <td>
                        Sent in response to a new referral coupon being created.
                    </td>
                </tr>
            </tbody>
        </table>
        
        
        <p>
            <strong>Retry Policy</strong> - Rest hooks are delivered immediately after an event is triggered. If the endpoint does not successfully respond to a delivery 
            attempt (<em>i.e. respond with a status code other than 200</em>), the delivery will be considered as failed. Failed deliveries will be 
            reattempted every hour after the previous failed attempt until either a successful delivery is made or until 72 attempts have 
            been made (<em>approximately 3 days at the rate of 1 retry per hour</em>).
        </p>

        <p>
            <strong>Multiple Subscriptions</strong> - Multiple endpoints may be subscribed, in which case each endpoint will be notified using the behavior described above. Duplicate
            endpoint urls will simply result in one subscription being created for that url.
        </p>
        
        <p>
            <strong>Delivery Order</strong> - Delivery order of events is not guaranteed and delivery timing is not guaranteed. Avoid building logic that relies on a specific delivery ordering of webhook notifications.
        </p>

        <hr />

        @* 
            Includes the webhook method reference here
        *@
        @tags.webhookMethods()

        
        <h2>Payloads</h2>
        <p>
            All webhook data conform to the same data format.
        </p>
        <div>
            <table class="table table-hover">
              <tr>
                <th class="docs-monospace">id</th>
                <td>
                    String - A unique identifier for this event
                </td>
              </tr>
              <tr>
                <th class="docs-monospace">type</th>
                <td>
                    String - The type of event
                </td>
              </tr>
              <tr>
                <th class="docs-monospace">tenantAlias</th>
                <td>
                    String - The tenant used to create this data
                </td>
              </tr>
              <tr>
                <th class="docs-monospace">live</th>
                <td>
                    Boolean - True for live tenants and false for test tenants
                </td>
              </tr>
              <tr>
                <th class="docs-monospace">created</th>
                <td>
                    Number - The timestamp when this event was created
                </td>
              </tr>
              <tr>
                <th class="docs-monospace">data</th>
                <td>
                    An abitrary JSON object containing data related to this event
                </td>
              </tr>
            </table>
        </div>
        
        <h4>Payload Security</h4>
        <p>
            Payload's can be verified by checking the request headers. The <code>X-Hook-Signature</code> header is set with a value based upon a HMAC-SHA1 (RFC 2104 compliant) hash 
            computed from the hook's body contents. The signature used is the tenant's current API key. This can be used to verify the authenticity of hooks upon receipt. Careful! Although 
            you can verify the hook''s authenticity via the signature, you still may need to verify the state of the 'data' by making an API call. Hook delivery order is not guaranteed. For
            example, consider the scenario where an object is updated multiple times in quick succession. The related REST hooks may be delivered in a different order than the update events 
            which generated them, so relying on their contents may lead you to build a different final state.
        </p>
        <table class="table table-hover">
            <tr>
                <th class="docs-monospace">X-Hook-Signature</th>
                <td>A Sha1 hash of the hooks body contents signed by the tenant's API key</td>
            </tr>
        </table>

        <h2>
            Webhooks Event Types
        </h2>
        <p>
            After a webhook subscription is created, it will immediately start receiving webhooks payloads. Each payload has a noted 'type' field which can be used to differentiate between 
            events. New event types may be added to the API, so avoid building logic that assumes it knows all event types.
        </p>


        <h3>coupon.created</h3>        
        <p>Sent in response to a new referral coupon being created.</p>
        
        <h4>Example Payload Contents</h4>
<pre class="prettyprint lang-json">{
    "id": "31049u0194u2105",
    "type": "coupon.created",
    "tenantAlias": "AAA111BBB222DDD333",
    "live": false,
    "created": 1337001337,
    "data": {
        "code": "ABC123ABC",
        "discountPercentage": "10",
        "dateCreated": 1386180000,
        "ratePlanId": null
    }
}</pre>

    </section>
}
