@main(
    "Braintree Integration",
    "Referral SaaSquatch’s Braintree integration uses Braintree's API and Braintree's Custom Fields to automatically track subscriptions and give discounts. This guide will walk you through how to set up this integration."
) {

    <section id="braintree">
        <div class="page-header">
            <h1>Braintree Integration</h1>
        </div>
        
        <p class="lead">
        Referral SaaSquatch’s Braintree integration uses Braintree's API and Braintree's Custom Fields to automatically track subscriptions and give discounts. This guide will walk you through how to set up this integration.
        </p>
        
        <hr/>
        <div class="install-guide-checklist">

            <h5 data-toggle="collapse" data-target=".install-step1">Configure Braintree</h5>
            <div class="install-step1 collapse in">
                <p>The first step is granting SaaSquatch access to your Braintree accounts by providing your API key.</p>
                <ul class="unstyled">
                    <li><label class="checkbox"><input type="checkbox"> Create the <code>saasquatch_coupon</code> custom field in Braintree</label></li>
                    <li><label class="checkbox"><input type="checkbox"> Create the <code>saasquatch_discount</code> discount in Braintree</label></li>
                    <li><label class="checkbox"><input type="checkbox"> Add your Braintree API key to SaaSquatch</label></li>
                    <li><label class="checkbox"><input type="checkbox"> Configure SaaSquatch as a Braintree Webhooks endpoint</label></li>
                </ul>
            </div>
    
            <h5 data-toggle="collapse" data-target=".install-step2">Install squatch.js</h5>
            <div class="install-step2 collapse">
                <p><a href="/app-integration">squatch.js</a> will show a gorgeously rendered popup in your app so your customers can seamlessly refer their friends.</p>
                <ul class="unstyled">
                    <li><label class="checkbox"><input type="checkbox"> Install <a href="/app-integration">squatch.js</a> on your page</label></li>
                    <li><label class="checkbox"><input type="checkbox"> Replace the <a href="/squatchjs#init">squatch.js init</a> variables with real user data</label></li>
                    <li><label class="checkbox"><input type="checkbox"> Add a button to your page with <code>class="squatchpop"</code></label></li>
                    <li><label class="checkbox"><input type="checkbox"> <span class="label">Testing</span> Click the button. Make sure the popup shows. (Make sure you are using the right <code>account_id</code> and <code>user_id</code>)</label></li>
                </ul>
            </div>
            
            <h5 data-toggle="collapse" data-target=".install-step3">Setup coupons for new subscriptions</h5>
            <div class="install-step3 collapse">
                <p>When new friends click through on a referral link and signup, you're in charge of making sure that the referral coupon code is applied on their new subscription. You <b>only</b> need to add
                    referral coupons for new customer's new subscriptions. Referrers will get credit for inviting their friends as line-items automatically applied to their invoices.
                </p>
                <ul class="unstyled">
                    <li><label class="checkbox"><input type="checkbox"> Add a hidden <code>referral_code</code> input to your checkout page</label></li>
                    <li><label class="checkbox"><input type="checkbox"> Use <a href="/squatchjs#autofill">squatch.js autofill</a> to read the tracking cookie and set the active referral code in your form</label></li>
                    <li><label class="checkbox"><input type="checkbox"> <a href="/api/methods#get_coupon">GET the referral/coupon code details</a> from SaaSquatch and lookup the Braintree <code>discountId</code></label></li>
                    <li><label class="checkbox"><input type="checkbox"> Apply the referral discount using the <code>discountId</code> and value when you <a href="https://www.braintreepayments.com/docs/ruby/subscriptions/create#addonsdiscounts">Create a Braintree Subscription</a></label></li>
                    <li><label class="checkbox"><input type="checkbox"> <a href="/api/methods#set_coupon">POST the coupon code</a> and the brand new <code>paymentProviderId</code> to SaaSquatch</li>
                    <li><label class="checkbox"><input type="checkbox"> <span class="label">Testing</span> Click a referral link and signup for a new account. <a href="https://app.referralsaasquatch.com/">Login</a> to your SaaSquatch account
                        to see the new referral in the news feed.
                    </label></li>
                </ul>
            </div>

        </div>
            
        <hr />
        
        <div class="well pull-right span3">
            <b>Test mode vs. live mode</b> - We let you test your referral program using Braintree Sandbox and fake credit cards before deploying to your production environment. To set up sandbox, follow this guide using your Braintree Sandbox account.
            <p class="muted">
                <b>Note:</b> It is not required to setup a test environment but it will make testing easier for you.
            </p>
        </div>
        <h3>How to Configure Braintree</h3>
        <p>Before installing Referral SaaSquatch there are a few things that you need to configure manually in <a href="https://www.braintreepayments.com/">Braintree</a>.</p>

        <h4>Set up a Braintree Custom Field and Discount</h4>
        
        <p>
        We use Braintree's Custom Fields to track when someone uses a referral code and Braintree's Discounts to apply referral discounts. These fields need to be set up in Braintree before turning on the referral program.
        </p>
        <ol>
            <li><a href="https://www.braintreepayments.com/">Login to Braintree</a> and go to Settings -> Processing. 
                Add a custom field with the API name <code>saasquatch_coupon</code> set "Store and Pass Back" to true.</li>
            <li>Go to Recurring Billing -> Add-ons / Discounts on the left-hand menu and add a discount with the id <code>saasquatch_discount</code>, 
                name "Saasquatch Discount", and amount (1.00 ~ though this value isn't really used, it's just a placeholder because the field can't be left 0 or empty).
                Leave the duration as "For Duration of Subscription".</li>
        </ol>

        <hr/>
        <h4>Add your Braintree API Keys in the SaaSquatch Portal</h4>
        
        <p>
        We connect to the Braintree API using your Braintree API keys. This lets us automatically apply discounts to people’s accounts.
        </p>
        <ol>
            <li><a href="https://www.braintreepayments.com/">Login to Braintree</a> and go to Account -> My User then scoll down and open "API Keys" under Authorization. <b>Copy the "Merchant ID", "Public Key" and "Private Key"</b>.</li>
            <li><a href="http://app.referralsaasquatch.com">Login to Referral SaaSquatch</a> and go to "Install" and click "Authorize". <b>Paste in the "Merchant ID", "Public Key" and "Private Key" that you just copied</b>, and press connect.</li>
        </ol>        
        
        <hr/>
        <h4>Add SaaSquatch to your Braintree webhooks</h4>

        <p>
        We use Braintree webhooks to determine when referral discounts should be made, updated, or ended.
        </p>

        <ol>
            <li><a href="http://app.referralsaasquatch.com">Login to Referral SaaSquatch</a> and go to "Install" and copy the "Webhook URL".</li>
            <li><a href="https://www.braintreepayments.com">Login to Braintree</a> and go to Settings -> Webhooks. 
                Click "Create a webhook" if you have no existing webhooks or "New Webhook" otherwise. Paste the 
                SaaSquatch "Webhook URL", check the box for all available Subscription notifications, and click "Create Webhook".</li>
        </ol>
        <p class="muted">
            <b>Note:</b> If you don't have webhooks, sign in as an admin. Then go to "Settings" -> "Users and Roles" -> "Manage Roles". Click your role, enable "Manage Webhooks (Add/Edit/Delete)" and press "Save".
        </p>

        <p>
            Repeat this process for both your <b>test</b> and <b>live</b> accounts. <b>Tired of all the clicking?</b> Help us reduce the manually configuration work here by 
            encouraging Braintree to support Oauth apps and RestHooks.
        </p>
        

        <hr/>
        <h3>How to Connect referrals with the SaaSquatch API</h3>
        
        <p>
        On your payment page you'll need to add an extra input element that accepts a <code>referral_code</code> and pass it to us via the <a href="/api">REST API</a> after the payment information has been successfully added to your customer in Braintree.
        </p>
        <ol>
            <li>Add a <span class="docs-monospace">referral_code</span> field to your payment form. You can show it to your users so that they can type in their friend's codes, or it can just be a hidden input field on the page.
                <pre class="prettyprint lang-html">&lt;input type="hidden" name="referral_code" /&gt;</pre>
            </li>
            <li>Use <a href="/squatchjs#autofill">Squatch.js Autofill</a> to read the referral cookie and set the value in the form input you just created.
                <pre class="prettyprint lang-js">_sqh.push(["autofill", "name=referral_code"]);</pre>
            </li>
            <li>
                On your server, <a href="/api/methods#get_coupon">lookup the coupon information</a> to include in your Braintree Subscription call using the SaaSquatch REST API.
<pre class="prettyprint lang-curl">$ curl https://app.referralsaasquatch.com/api/v1/{TENANT_ALIAS}/code/{REFERRAL_CODE} \
-u API_KEY: \
-H "Content-Type: application/json"</pre>
                
                <span class="muted">This step is important because it ensures that new customers will receive their 
                discount immediately. If this step is left out then the referral discount will be applied as a refund to the first transaction 
                at a later time. Referrers get credit on their next bill.</span>
            </li>
            <li>
                Create a new subscription for your new customer. Use the <code>discountId</code> from SaaSquatch and remember to use <code>discountPercentage</code> to calculate the amount.
                <pre class="prettyprint lang-rb">result = Braintree::Subscription.create(
  :payment_method_token => "the_payment_method_token",
  :plan_id => "the_plan_id",
  :discounts => {
    :add => [
      {
        <span class="nocode"><strong>:inherited_from_id => "saasquatch_discount",</strong></span> // Tthe `discountId` 
        <span class="nocode"><strong>:amount => BigDecimal.new("25.00")</strong></span> // Calculated from `discountPercentage`
      }
    ]
  }
)</pre>
            </li>
            <li>
                On your server, after the Braintree customer has been created, <a href="/api/methods#set_coupon">POST the coupon code</a> and the brand new <code>paymentProviderId</code> to 
                the SaaSquatch REST API.
<pre class="prettyprint lang-curl">$ curl https://app.referralsaasquatch.com/api/v1/TENANT_ALIAS/coupon \
-u API_KEY: \
-H "Content-Type: application/json" \
-d '{"couponCode" : "BOBTESTERSON", "paymentProviderId" : "cus_123" }'</pre>
                <span class="muted">This step ensures that we can apply referral credit to a new user right away.</span>
            </li>
        </ol>

        <p>
            <strong>For Proration</strong> - If you're using subscriptions with automatic proration and you change the subscription price, you will need to recalculate the discount during upgrades and downgrades.
            You need to apply the result to the subscription before the prorated charges go through. If this step is left out then the prorated charge will have the existing 
            discount subtracted from it and the new discount amount will be applied to the upcoming bill.
            
            <pre class="prettyprint lang-curl">GET https://app.referralsaasquatch.com/api/v1/{TENANT_ALIAS}/account/{ACCOUNT_ID}/reward</pre>
        </p>
        <p>
            <strong>For Transparent Redirects</strong> When you're setting up your payment forms use <span class="docs-monospace">customer[custom_fields][saasquatch_coupon]</span> instead 
            of <span class="docs-monospace">referral_code</span> in your forms and read 
            this <a href="https://www.braintreepayments.com/docs/customers/tr_fields#custom_fields">Braintree article about custom fields</a>.
        </p>
        <hr/>

        <h4>That's it!</h4>
        <p>Next: Check out our <a href="/bestpractices/common-pitfalls">Common Pitfalls Guide</a></p>

    </section>
}
