@main(
    "Braintree Integration",
    "Referral SaaSquatch’s Braintree integration uses Braintree's API and Braintree's Custom Fields to automatically track subscriptions and give discounts. This guide will walk you through how to set up this integration."
) {

    <section id="braintree">
        <div class="page-header">
            <h1>Braintree Integration</h1>
        </div>
            <p class="lead">
            Referral SaaSquatch’s Braintree integration uses Braintree's API and Braintree's Custom Fields to automatically track subscriptions and give discounts. This guide will walk you through how to set up this integration.
            </p>
            
            <hr/>
            <h3><span class="label label-success">Step 0</span> Things you need to know before you start</h3>
            
            <ul class="unstyled">
                <li>
                    <b>Test mode vs. live mode</b> - We let you test your referral program using Braintree Sandbox and fake credit cards before deploying to your production environment. To set up sandbox, follow this guide using your Braintree Sandbox account.
                </li>
            </ul>

            <hr/>
            <h3><span class="label label-success">Step 1</span> Set up a Braintree Custom Field and Discount</h3>
            
            <p>
            We use Braintree's Custom Fields to track when someone uses a referral code and Braintree's Discounts to apply referral discounts. These fields need to be set up in Braintree before turning on the referral program.
            </p>
            <ol>
                <li><a href="https://www.braintreepayments.com/">Login to Braintree</a> and go to Settings -> Processing. 
                    Add a custom field with the API name <b>saasquatch_coupon</b> with the "store and pass through" option set.</li>
                <li>Go to Recurring Billing -> Add-ons / Discounts on the left-hand menu and add a discount with the id <b>saasquatch_discount</b>, 
                    name "Saasquatch Discount", and amount (1.00 ~ though this value isn't really used, it's just a placeholder because the field can't be left 0 or empty).
                    Leave the duration as "For Duration of Subscription".</li>
                <li>Repeat this process for both your <b>test</b> and <b>live</b> accounts.</li>
            </ol>
            <p class="muted">
                <b>Note:</b> It is not required to setup a test environment but it will make testing easier for you.
            </p>
            
            <hr/>
            <h3><span class="label label-success">Step 2</span> Add your Braintree API Keys in the SaaSquatch Portal</h3>
            
            <p>
            We connect to the Braintree API using your Braintree API keys. This lets us automatically apply discounts to people’s accounts.
            </p>
            <ol>
                <li><a href="https://www.braintreepayments.com/">Login to Braintree</a> and go to Account -> My User then scoll down and open "API Keys" under Authorization. <b>Copy the “Merchant ID”, "Public Key" and "Private Key"</b>.</li>
                <li><a href="http://app.referralsaasquatch.com">Login to Referral SaaSquatch</a> and go to “Install” and click “Authorize”. <b>Paste in the “Merchant ID”, "Public Key" and "Private Key" that you just copied</b>, and press connect.</li>
                <li>Repeat this process for both your <b>test</b> and <b>live</b> accounts.</li>
            </ol>

            <hr/>
            <h3><span class="label label-success">Step 3</span> Add SaaSquatch to your Braintree webhooks</h3>

            <p>
            We use Braintree webhooks to determine when referral discounts should be made, updated, or ended.
            </p>

            <ol>
                <li><a href="http://app.referralsaasquatch.com">Login to Referral SaaSquatch</a> and go to “Install” and copy the "Webhook URL”.</li>
                <li><a href="https://www.braintreepayments.com/">Login to Braintree</a> and go to Settings -> Webhooks. 
                    Click "Create a webhook" if you have no existing webhooks or "New Webhook" otherwise. Paste the 
                    SaaSquatch "Webhook URL", check the box for all available Subscription notifications, and click "Create Webhook".</li>
                <li>Repeat this process for both your <b>test</b> and <b>live</b> accounts.</li>
            </ol>
            
            
            <hr/>
            <h3><span class="label label-success">Step 4</span> Connect referrals with the SaaSquatch API</h3>
            
            <p>
            On your payment page, you'll need to add an extra input element that accepts a "referral code" and pass it to us via the <a href="">SaaSquatch API</a> after the payment information has been successfully added to your customer in Braintree.
            </p>
            <ol>
                <li>Add a "referral code" field to your payment page. You can show it to your users so that they can type in their friend's codes, or it can just be a hidden field on the page.</li>
                <li>Use <a href="/squatchjs#autofill">Squatch.js Autofill</a> to check for a referral cookie and set it the new field.</li>
                <li>On your server-side, after the Braintree customer has been created, pass the referral code to the corresponding customer id via the SaaSquatch API's <a href="">Coupon Push</a>.
                    <ul>
                        <li>
                            If you are using transparent redirect to create customers then you can use the custom field to get it to your server-side, <a href="https://www.braintreepayments.com/docs/customers/tr_fields#custom_fields">read this Braintree article</a>.
<code>&lt;input type="text" name="customer[custom_fields][saasquatch_coupon]" value="$coupon_to_be_submitted" /&gt;</code>.

                        </li>
                    </ul>
                </li>
                <li>Before you create a new Braintree Subscription use the SaaSquatch API's <a href="">Get Account Reward</a> call to get the id and 
                percentage discount that must be applied to the subscription. This step is important because it ensures the customer will receive their 
                discount immediately. If this step is left out then the referral discount will be applied as a refund to the first transaction 
                at a later time. More information on using the SaaSquatch API to apply the correct discount in Braintree can be found <a href="">here</a>.
                </li>
                <li>If you're using subscriptions with automatic proration and you change the subscription price, you will need to use the 
                    <a href="">Get Account Reward</a> to recalculate and apply the result to the subscription before the prorated charges go 
                    through. If this step is left out then the prorated charge will have the existing discount subtracted from it 
                    and the new discount amount will be applied to the upcoming bill. More information on using the SaaSquatch API
                    to apply the correct discount when updating a Braintree discount can be found <a href="">here</a>.
                </li>
            </ol>

            
            <hr/>
            
            <h4>That's it!</h4>

    </section>
}
