@sections.guide(
    "Refer-a-friend Buttons Best Practice Guide",
    "This guide explains best practices for how to create effective call to action buttons for your referral program"
) {

    <section id="bestpractice-buttons">
      <div class="page-header">
        <h1>Refer-a-friend buttons <small>Best Practice Guide</small></h1>
      </div>
    
        <p class="lead">Refer-a-friend buttons should be targeted at your existing loyal users. They should be easy to find from anywhere in your app and prominent on a few key pages.</p>
        
        <p>
            <strong><i class="icon-chevron-right"></i> Lots of refer-a-friend buttons and links.</strong> You can add the <code>squatchpop</code> CSS class to as many buttons, links and images as you want. You're not limited to a single button per page.
        </p>
        <p>
            <strong><i class="icon-chevron-right"></i> Put a link on every page.</strong> The referral program shouldn't be hidden in settings. Consider adding at least a small link to the header or footer of every page. This will also make support easier, as it is a single click to have someone see their referral program status.
        </p>
        <p>
            <strong><i class="icon-chevron-right"></i> Use the power of suggestion.</strong> When someone completes an action in your system, and there is no obvious next step for them, use the power of suggestion to get them to check out the referral program. For example substitute <em>"Your password was successfully changed."</em> with <em>"Your password was successfully changed. Have a minute? Help spread the word about our service and get 10% off your bill."</em>
        </p>
    </section>
}    