@main(
    "Pricing FAQ",
    "Pricing is 1 Month's Revenue per Referred Customer. Free Setup, No Monthly Fees, and Just the 1st Month's Revenue from New Referred Customers."
    ) {
    <section id="pricing">
    
        <div class="page-header">
        <h1>Pricing <small>1 Month's Revenue per Referred Customer</small></h1>
        </div>
        
        <h3>What does it cost?</h3>
        <p class="lead"><strong>Free Setup, No Monthly Fees, and Just the 1st Month's Revenue from New Referred Customers</strong></p>
        
        <p>When you signup a new paying customer as a result of the Referral SaaSquatch referral program you pay the amount equal to a full price month of service. The fee is charged in USD at the conversion rate available on the day of your monthly invoice.</p>  
        
        <p>Referral SaaSquatch has no setup fees, no monthly fees, no data storage fees and no hidden fees for our standard solution. Custom features and styling are available at costs relative to the project.</p>
        
        <div class="well">
            <h4>Pricing Example</h4>
            
            <p>If your service costs $20/month and you want to give both the referring user and the newly referred users 10% off we would charge you a fee of $20 on your next invoice cycle following the successful referral.</p> 
            
            <ul>
                <li>One of your customers refers a friend to signup</li>
                <li>That friend signs up, finishes their 15 day trial, and pays their first invoice</li>
                <li>The new friend gets 10% off their first bill ($2 off)</li>
                <li>Referral SaaSquatch charges the new paying customer's first month of revenue ($20) on your next billing cycle with us</li>
                <li>The referrer get 10% off their next bill for the next 12 months (or until their friend cancels their subscription)</li>
            </ul>
        </div>
        
        <h3>How does this compare to other providers?</h3>
        
        <p>Referral SaaSquatch will always have simple, fair prices. Direct comparisons are hard: other providers charge for things that Referral SaaSquatch doesn't charge for, such as monthly fees, setup fees and consulting fees. Referral SaaSquatch has no hidden charges because we don't believe we should gain if you don't. 
        
        <h3>Do I get charged if a referred user cancels before the end of their trial?</h3>
        
        <p>No. If referred users don't convert to paying users we will not charge you anything.</p> 
        
        <h3>What happens if a referred customer cancels shortly after they start paying?</h3>
        
        <p>Referral SaaSquatch charges much like Google Adwords. We charge based on customer acquisition and unfortunately cannot be responsible for customer retention.</p> 
        
        <h3>Does Referral SaaSquatch work with foreign currencies?</h3>
        
        <p>Yes. We work with any currency that your subscription provider works with. We will charge you in USD at the conversion rate available to us on the day of your invoice.</p> 
        
        <h3>Does Referral SaaSquatch offer volume discounts?</h3>
        
        <p>Happily! Email us at <a href="mailto:sales@@saasquat.ch?Subject=Volume%20Discount">sales@@saasquat.ch</a> if you’re on track to generate over $250 thousand in new customer revenue due to referrals.</p>
    </section>
}