@(title: String, descr: String, cdnDomain:String = "http://www.referralsaasquat.netdna-cdn.com")(content: Html)

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="google-site-verification" content="RdOFXwKJvCorEOtVBMJTkuwZ8pDOOjvR4hoia3OYecE" />
        <title>@title | Referral SaaSquatch Documentation</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        @if( !play.api.Play.current.configuration.getBoolean("application.robots").getOrElse(false) ){
            <meta name="robots" content="noindex, nofollow">
            <meta name="st:robots" content="follow, index">
        }
        
        <!-- Rollbar error monitoring -->
        <script>
           var _rollbarParams = {"server.environment": "production"};
           _rollbarParams["notifier.snippet_version"] = "2"; var _rollbar=["c8fd34f79430479a98f49007397a11db", _rollbarParams]; var _ratchet=_rollbar;
           (function(w,d){w.onerror=function(e,u,l){_rollbar.push({_t:'uncaught',e:e,u:u,l:l});};var i=function(){var s=d.createElement("script");var 
           f=d.getElementsByTagName("script")[0];s.src="//d37gvrvc0wt4s1.cloudfront.net/js/1/rollbar.min.js";s.async=!0;
           f.parentNode.insertBefore(s,f);};if(w.addEventListener){w.addEventListener("load",i,!1);}else{w.attachEvent("onload",i);}})(window,document);
        </script>
        <!-- End of Rollbar error monitoring -->
      
      
        <!-- Start Pingdom RUM -->
        <script>
            var _prum = [['id', '52c61993abe53d650f000000'],
                         ['mark', 'firstbyte', (new Date()).getTime()]];
            (function() {
                var s = document.getElementsByTagName('script')[0]
                  , p = document.createElement('script');
                p.async = 'async';
                p.src = '//rum-static.pingdom.net/prum.min.js';
                s.parentNode.insertBefore(p, s);
            })();
        </script>
        <!-- End Pingdom RUM -->
            
        <!-- Optimizely -->
        <script src="//cdn.optimizely.com/js/298173276.js"></script>
        
        <!-- Segment.io -->
        <script type="text/javascript">
            window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(a){return function(){var t=Array.prototype.slice.call(arguments);return t.unshift(a),window.analytics.push(t),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(a){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+a+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},window.analytics.SNIPPET_VERSION="2.0.6",
            window.analytics.load("kjj37zev7u"),
            window.analytics.page();
        </script>

        <!-- Start Wistia -->
        <script src="//fast.wistia.com/static/embed_shepherd-v1.js"></script>
        <script>
        wistiaEmbeds.onFind(function(video) {
          video.videoFoam(true);
        });
        </script>
        <!-- End Wistia -->
        
        <!-- These next two lines include our TypeKit fonts -->
        <script type="text/javascript" src="//use.typekit.net/hqf0oje.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        
        <link rel="stylesheet" href="@cdnDomain/wp-content/themes/disillusion/style.css">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/docs.css")">

        <link rel="shortcut icon" href="@cdnDomain/assets/ico.png">

        
        <!-- SEO Metadata -->
        <meta name="description" content="@descr"/>

        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="@title | Referral SaaSquatch Documentation" />
        <meta property="og:description" content="@descr" />
        <meta property="og:url" content="http://documentation.referralsaasquatch.com/" />
        <meta property="og:site_name" content="Referral SaaSquatch" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@@getSaaSquatch"/>
        <meta name="twitter:domain" content="Referral SaaSquatch"/>
        <meta name="twitter:creator" content="@@getSaaSquatch"/>
        <!-- / SEO metadata. -->
        
        <!-- Swiftype Metadata -->
        <meta class="swiftype" name="title" data-type="string" content="@title" />
        <meta class="swiftype" name="body" data-type="text" content="@descr" />
        <meta class='swiftype' name='type' data-type='enum' content='documentation' />
        <!-- / Swiftype Metadata -->
        
        <link rel='stylesheet' id='Open Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&#038;ver=3.8' type='text/css' media='all' />
        <link rel='stylesheet' id='pt-mediaqueries-css'  href='@cdnDomain/wp-content/themes/disillusion/css/mediaqueries.css' type='text/css' media='all' />

        <script type='text/javascript' src='@cdnDomain/wp-includes/js/jquery/jquery.js?ver=1.10.2'></script>
        <script type='text/javascript' src='@cdnDomain/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
        <script type='text/javascript' src='@cdnDomain/wp-includes/js/swfobject.js?ver=2.2-20120417'></script>
        <script type='text/javascript' src='@cdnDomain/wp-content/themes/disillusion/js/vendor/modernizr-2.6.2.min.js'></script>
        <script type='text/javascript' src='@cdnDomain/wp-content/themes/disillusion/js/vendor/bootstrap.min.js'></script>
        
    </head>
    

    <body class="page docs" style="padding-bottom: 0"> 

        <!-- Begin Header / Nav -->
        <header class="navbar navbar-fixed-top" data-swiftype-index="false">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>

                    <!-- Logo -->
                    <a href="http://www.referralsaasquatch.com" class="brand"><img src="http://www.referralsaasquatch.com/assets/RS-Logo-Head-Long-small-2.png" alt="Referral SaaSquatch Logo" title="Referral SaaSquatch"></a>                    

                    <!-- Navigation --> 
                    <div class="nav-collapse collapse" id="navigation">
                        <ul id="menu-primary-navigation" class="nav">
                        <li id="menu-item-1759" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1759"><a href="http://www.referralsaasquatch.com/#features">Features</a></li>
                        <li id="menu-item-1758" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1758"><a href="http://www.referralsaasquatch.com/#pricing">Pricing</a></li>
                        <li id="menu-item-990" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-952 current_page_item active menu-item-990"><a href="http://docs.referralsaasquatch.com/">Documentation</a></li>
                        <li id="menu-item-68" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-68"><a href="http://www.referralsaasquatch.com/blog/">Blog</a></li>
                        <li id="menu-item-1564" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1564"><a href="https://app.referralsaasquatch.com/">Login</a></li>
                        <li id="menu-item-1760" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1760"><a href="http://www.referralsaasquatch.com/#sign-up">Sign Up</a></li>
                    </ul>                   
                    </div>
                </div>
            </div>
        </header>
        <!-- End Header / Nav -->


    <div class="container">

    <style type="text/css">

    </style>

    <!-- Docs nav
    ================================================== -->
    <div class="row" style="padding-bottom: 60px;">
      <div class="span3 docs-sidebar" data-swiftype-index="false">
        <ul class="nav nav-list docs-sidenav">
          <li><a href="/getting-started"><i class="icon-chevron-right"></i>Getting Started</a></li>
          <li><a href="/how-it-works"><i class="icon-chevron-right"></i>How it works</a></li>
          
          <li class="nav-header">Use cases</li>

          <li><a href="/free-trials"><i class="icon-chevron-right"></i>Free trials</a></li>
          <li><a href="/shared-vs-solo-accounts"><i class="icon-chevron-right"></i>Shared vs Solo Accounts</a></li>
          <li><a href="/testing"><i class="icon-chevron-right"></i>Testing</a></li>
          <li><a href="/theming"><i class="icon-chevron-right"></i>Theming</a></li>

          <li class="nav-header">Subscription System Integrations</li>
          <li><a href="/braintree"><i class="icon-chevron-right"></i>Braintree</a></li>
          <li><a href="/recurly"><i class="icon-chevron-right"></i>Recurly</a></li>
          <li><a href="/stripe"><i class="icon-chevron-right"></i>Stripe</a></li>
          <li><a href="/zuora"><i class="icon-chevron-right"></i>Zuora</a></li>
          
          <li class="nav-header">Javascript API - squatch.js</li>
          <li><a href="/app-integration"><i class="icon-chevron-right"></i>Installation</a></li>
          <li><a href="/squatchjs/signed-requests"><i class="icon-chevron-right"></i>Signed Requests</a></li>
          <li><a href="/segment-io"><i class="icon-chevron-right"></i>Segment.io</a></li>
          <li><a href="/squatchjs#init"><i class="icon-chevron-right"></i>init</a></li>
          <li><a href="/squatchjs#autofill"><i class="icon-chevron-right"></i>autofill</a></li>
          <li><a href="/squatchjs#open"><i class="icon-chevron-right"></i>open</a></li>
          <li><a href="/squatchjs#close"><i class="icon-chevron-right"></i>close</a></li>
          
          
          <li class="nav-header">Rest API</li>
          <li><a href="/api"><i class="icon-chevron-right"></i>Introduction</a></li>
          <li><a href="/api/authentication"><i class="icon-chevron-right"></i>Authentication</a></li>
          <li><a href="/api/errors"><i class="icon-chevron-right"></i>Errors</a></li>
          <li><a href="/api/webhooks"><i class="icon-chevron-right"></i>Webhooks</a></li>
          <li><a href="/api/methods"><i class="icon-chevron-right"></i>Reference</a></li>

          <li class="nav-header">Best Practices</li>
          <li><a href="/bestpractices/common-pitfalls"><i class="icon-chevron-right"></i>Common Pitfalls</a></li>
          <li><a href="/bestpractices/buttons"><i class="icon-chevron-right"></i>Refer-a-friend buttons</a></li>
          <li><a href="/bestpractices/speed"><i class="icon-chevron-right"></i>Page Speed</a></li>
          
          <li class="nav-header">FAQ</li>
          <li><a href="/faq"><i class="icon-chevron-right"></i>General</a></li>
          <li><a href="/faq/pricing"><i class="icon-chevron-right"></i>Pricing</a></li>
          
          <li class="nav-header">More</li>
          <li><a href="http://www.referralsaasquatch.com/terms-of-service"><i class="icon-chevron-right"></i>Terms of Service</a></li>
          <li><a href="http://www.referralsaasquatch.com/privacy-policy"><i class="icon-chevron-right"></i>Privacy Policy</a></li>
          <li><a href="https://github.com/saasquatch/saasquatch-docs"><i class="icon-chevron-right"></i>Contribute on Github</a></li>
        </ul>
      </div>
        <div class="span9">
            @content
            
        </div><!-- end of right column -->
    </div><!-- end of main content #docs.row -->

    </div><!-- end of main content .container -->

    <!-- Begin footer -->
    <footer id="footer" data-swiftype-index="false">
    	
    	<section class="copyright">
    	<div class="container">
    	    <div class="row-fluid">
    	    <div class="span7 text-center hidden-phone">
    	        <div class="row-fluid">
    	        <div class="span3" >
        	        <ul style="list-style-type: none; color:white; font-weight:300;">
        	            <li>Product</li>
        	            <li class="active"><a href="http://www.referralsaasquatch.com/#features">Features</a></li>
        	            <li><a href="http://www.referralsaasquatch.com/#pricing">Pricing</a></li>
        	            <li><a href="http://docs.referralsaasquatch.com/">Documentation</a></li>
        	            <li><a href="http://docs.referralsaasquatch.com/api/">API</a></li>
        	       </ul>
    	        </div>
    	        <div class="span3" >
        	        <ul style="list-style-type: none; color:white; font-weight:300;">
        	            <li>Updates</li>
        	            <li><a href="http://www.referralsaasquatch.com/blog">Blog</a></li>
        	            <li><a href="http://www.referralsaasquatch.com/news">News</a></li>
        	            <li><a href="http://twitter.com/getSaaSquatch">Twitter</a></li>
        	            <li><a href="http://sightings.referralsaasquatch.com">Sightings</a></li>
        	       </ul>
    	        </div>
    	        <div class="span3">
        	        <ul style="list-style-type: none; color:white; font-weight:300;">
        	            <li>Company</li>
        	            <li><a href="http://www.referralsaasquatch.com/about">About</a></li>
        	            <li><a href="http://www.referralsaasquatch.com/contact-us">Contact Us</a></li>
        	            <li><a href="http://www.referralsaasquatch.com/media">Media</a></li>
        	            <li><a href="http://www.referralsaasquatch.com/careers">Careers</a></li>
        	       </ul>
    	        </div>
    	        <div class="span3">
        	        <ul style="list-style-type: none; color:white; font-weight:300;">
        	            <li>Legal</li>
        	            <li><a href="http://www.referralsaasquatch.com/terms-of-service">Terms of Service</a></li>
        	            <li><a href="http://www.referralsaasquatch.com/privacy-policy">Privacy Policy</a></li>
        	       </ul>
    	        </div>
    	        </div>
    	   </div>
    	   
            <div class="span4 hidden-phone">
                <p style="color:white;">Looking to learn more about <strong>Referral Marketing?</strong>
                Signup for our Crash Email Course and weekly blog articles!</p>
                <form action="https://www.getdrip.com/6178388/campaigns/68/subscribe" method="post" target="_blank" data-drip-embedded-form="68">
                <div>
                    <input style="margin-bottom: 0px;" type="email" name="fields[email]" placeholder="email" value="" />
                    <input class="btn" type="submit" name="submit" value="Sign Up" data-drip-attribute="sign-up-button" />
                </div>
                </form>
                </div>
            </div>
            <div class="span12 text-center" style="color: white; margin-left:0px;">
                <a href="http://womma.org"><img src="@cdnDomain/wp-content/themes/disillusion/img/womma-member-logo.png"/ class="span1 offset10 visible-desktop"  alt="Proud member of WOMMA" /></a> 
                <p style="margin-top: 61px; margin-bottom: -46px; opacity:0.7; ">Copyright © 2014 Referral SaaSquatch.com. All rights reserved.</p>
                <p class="hidden-phone" style="margin-top: 45px; margin-bottom: -46px; opacity:0.7; ">1017 Fort St, Victoria, British Columbia,V8V 3K5, Canada</p>
            </div>
    	  
    	</div>
    	</section>
    
    </footer>
    <!-- End footer -->

    <div id="lightwindow">
    	<div id="lightwindow-content"></div>
    </div>

    @*
     * TODO: Clean up this JS from docs. They were from the website, and aren't useful here.
     *
     *********************@  
    <script type='text/javascript' src='@cdnDomain/wp-content/themes/disillusion/js/plugins.js'></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
    var AjaxHelper = {"blog_url":"http:\/\/www.referralsaasquatch.com\/wp-content\/themes\/disillusion\/template-news.php","portfolio_url":"http:\/\/www.referralsaasquatch.com\/wp-content\/themes\/disillusion\/template-portfolio.php","portfolio2_url":"http:\/\/www.referralsaasquatch.com\/wp-content\/themes\/disillusion\/template-portfolio2.php","ajaxurl":"http:\/\/www.referralsaasquatch.com\/wp-admin\/admin-ajax.php"};
    var pt_settings = {"base_color":"","google_maps_circle_color":"#fb8047","google_maps_landscape_color":"#ffffff","google_maps_water_color":"#d4d4d4","portfolio_items_page":"5","blog_items_page":"16","pt_google_maps_latitude_1":"33.707126","pt_google_maps_longitude_1":"-4.135499","pt_google_maps_title_popover_1":"","pt_google_maps_text_popover_1":"","pt_google_maps_latitude_2":"38.707126","pt_google_maps_longitude_2":"-4.135499","pt_google_maps_title_popover_2":"","pt_google_maps_text_popover_2":"","pt_google_maps_latitude_3":"33.707126","pt_google_maps_longitude_3":"-4.135499","pt_google_maps_title_popover_3":"","pt_google_maps_text_popover_3":"","pt_google_maps_latitude_4":"33.707126","pt_google_maps_longitude_4":"-4.135499","pt_google_maps_title_popover_4":"","pt_google_maps_text_popover_4":""};
    /* ]]> */
    </script>
    <script type='text/javascript' src='@cdnDomain/wp-content/themes/disillusion/js/main.js'></script>

    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
        $.src='//v2.zopim.com/?1Kt2Mb45MqIqImn4EtgTXm9GLUYtWuUh';z.t=+new Date;$.
        type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
    </script>
    <!--End of Zopim Live Chat Script-->
    
    <!-- tries to run prettyprint -->
    <script type="text/javascript">
        jQuery(document).ready(function(){ 
            var tryPretty = function(){
                if(window['prettyPrint']){
                    prettyPrint();
                }else{
                    setTimeout(tryPretty, 200);
                }
            }
            tryPretty();
        });
    </script>
    <script type='text/javascript' src='@cdnDomain/wp-content/themes/disillusion/js/vendor/google-code-prettify/prettify.js'></script>

    <script>
    	var _gaq = _gaq || [];
    	_gaq.push(['_setAccount', 'UA-39831433-1']);
    	_gaq.push(['_trackPageview']);
    
    	(function() {
        	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    	})();
    </script>

    <!-- Drip -->
    <script type="text/javascript">
      var _dcq = _dcq || [];
      var _dcs = _dcs || {}; 
      _dcs.account = '6178388';
      
      (function() {
        var dc = document.createElement('script');
        dc.type = 'text/javascript'; dc.async = true; 
        dc.src = '//tag.getdrip.com/wbwzcsxizb.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(dc, s);
      })();
    </script>

</body>
</html>
