@main(
    "Mobile",
    "SaaSquatch help you engage your mobile users with a mobile-optimized referral dashboard."
) {

    <section id="how-it-works">
        <div class="page-header">
            <h1>Mobile</h1>
        </div>
    
        <p class="lead">
            SaaSquatch help you engage your mobile users by providing a mobile-optimized referral dashboard. The 
            mobile widget is an alternative to <a href="/squatchjs">squatch.js</a> for engaging your users.
        </p>
        
        <hr/>
        
        <h3>Getting started with Mobile</h3>
        <p>
            Your mobile users can access the mobile widget at this URL. Your can load this in a WebView, email this link to your users, or provide a button in your app that loads this page.
            
            <pre>
app.referralsaasquatch.com/a/:tenantAlias/widgets/mobilewidget
</pre>
        </p>
        
        <h4>Example</h4>
        <pre>
http://app.referralsaasquatch.com/a/test_ag9iazepi0u2d/widgets/mobilewidget?checksum=1KOCYrvKuQWKeyEUmoWCMaY8pmQCPNs%2Ft3a%2BZT0SLAM%3D&accountId=F1WCOPT6L0QAHKMQ&paymentProviderId=NULL&userId=5320fb2ee4b0376bf64d5af0&email=misterd%2Bmuser001%40example.com&firstName=Manual%20Code&lastName=Test%20User%20One&userImage=&fbShareImage=http://www.example.com/headerimac3x.png
        
    /** For readability **/
    checksum=1KOCYrvKuQWKeyEUmoWCMaY8pmQCPNs%2Ft3a%2BZT0SLAM%3D
    &accountId=F1WCOPT6L0QAHKMQ
    &paymentProviderId=NULL
    &userId=5320fb2ee4b0376bf64d5af0
    &email=misterd%2Bmuser001%40example.com
    &firstName=Manual%20Code
    &lastName=Test%20User%20One
    &userImage=
    &fbShareImage=http://www.example.com/headerimac3x.png</pre>

    <h4>Parameters</h4>
            <p>Send information about the currently logged-in user. These parameters should be the same as for <a href="/squatchjs#init">squatch.js init</a>.</p>
            <div>
        <table class="table table-hover">
            <tr>
                <th>tenantAlias</th>
                <td><span class="label">Required</span></td>
                <td>
                    Identifies which account to connect to. This is a super important parameter. For your app, you will get 
                    two tenant aliases -- one for test mode and one for live mode. Test mode alias are prefixed with <b>test_</b>, for example <code>test_abhoihnqwet</code>
                </td>
            </tr>
            <tr>
                <th>accountId</th>
                <td><span class="label">Required</span></td>
                <td>
                    We use accountId to link a group of users together. See <a href="/shared-vs-solo-accounts">Shared vs Solo Accounts</a> to see what you should use here.
                </td>
            </tr>
            <tr>
                <th>paymentProviderId</th>
                <td><span class="label">Required</span></td>
                <td>
                    The paymentProviderId is either the Stripe Customer ID, the Recurly Account ID, the Braintree Account ID or the Zuora Account ID. Can be <code>null</code>
                    for <a href="/free-trials">free trials or freemium accounts</a>. You must use <a href="/squatchjs/signed-requests">Signed Requests</a> to set paymentProviderId 
                    to "NULL". This field is not required for API-only integrations.
                </td>
            </tr>
            <tr>
                <th>userId</th>
                <td><span class="label">Required</span></td>
                <td>A user ID from your system (must be unique for every user). We use this to uniquely track users, and lets us handle accounts that are shared between users.</td>
            </tr>
            <tr>
                <th>email</th>
                <td><span class="label">Required</span></td>
                <td>The e-mail address of the user. We use this to contact someone when they have a successful referral.</td>
            </tr>
            <tr>
                <th>firstName</th>
                <td><span class="label">Required</span></td>
                <td>The user's first name</td>
            </tr>
            <tr>
                <th>lastName</th>
                <td><span class="label">Optional</span></td>
                <td>The user's last name</td>
            </tr>
            <tr>
                <th>userImage</th>
                <td><span class="label">Optional</span></td>
                <td>Defaults to <a href="http://gravatar.com/">Gravatar</a> or, if unavailable, the user's initials. If you provide a absolute profile image URL the minimum image size is 80px x 80px. Requires <a href="/squatchjs/signed-requests">Signed Requests</a>.</td>
            </tr>
            <tr>
                <th>fbShareImage</th>
                <td><span class="label">Optional</span></td>
                <td>Defaults to no image for Facebook referrals. If you provide an absolute URL an image it will be used when a referral is made on Facebook. Minimum image size is 114px tall or 155px wide.</td>
            </tr>
            <tr>
                <th>checksum</th>
                <td><span class="label">Optional</span></td>
                <td>A HMAC-SHA2 checksum of the other parameter values. Used to validate that data originated from your servers. For details, see the <a href="/squatchjs/signed-requests">Signed Requests documentation</a>.</td>
            </tr>
        </table>

        <h3>How do mobile referral get tracked?</h3>
        <p>
            Mobile referral still rely on the presence of cookies to track from click to first signup. Your web page that processes new subscribers should still include <a href="/squatchjs#autofill">squatch.js autofill</a> to complete the referral loop. Fully native apps that can not access
            cookies will need to develop their own tracking system using the SaaSquatch REST API to connect referral codes.
        </p>
        
    </section>
}