@sections.blank(
    "Page not Found (404)",
    "The page that you're looking for could not be found.'."
) {

    <div>
        <h3 class="text-center visible-desktop" style="padding-top:143px">Looks like you found the missing link!</h3>
        <h3 class="text-center hidden-desktop">Looks like you found the missing link!</h3>
        <p></p>
        
        <img src="http://d2vi0firws6omr.cloudfront.net/img/http-404.jpg" style="width=90%" alt="The Missing Link 404 Page">
        
        <p class="text-center"><a href="/" class="btn">Return to Documentation</a></p>
        
        <p class="text-center"><a href="mailto:webproblem@@saasquat.ch?Subject=Website%20Problem" target="_top"> or contact us to report a problem.</a></p>
    
    </div>
}