@sections.jsReference(
    "Segment.io Integration",
    "Segment.io lets you easily add Referral SaaSquatch to your app automatically."
) {
    <section>
        <div class="page-header">
            <h1>Segment.io</h1>
        </div>
        
        <p class="lead">
        <a href="https://segment.io/">Segment.io</a> customers can use analytics.js instead of directly using the Squatch.js javascript library
        </p>

        <hr/>
        <h3>How do I use the Segment.io integration?</h3>
        <p>
            Use <a href="https://segment.io/docs/methods/identify"><code>identify</code> from Segment.io</a> instead of <a href="/squatchjs#init">squatch.js init</a> to identify the currently logged in user and set up SaaSquatch.
        </p>
        <p>
            Some of the parameters are different. For example, to add an image for a user changed from <code>user_image</code> to <code>avatar</code>.
        </p>

        <table class="table">
            <tr>
                <th>
                    Squatch.js
                </th>
                <th>
                    Segment.io / analytics.js
                </th>
            </tr>
            <tr>
                <td>
                    Use <a href="/squatchjs#init">squatch.js init</a>
                </td>
                <td>
                    Use <a href="https://segment.io/docs/methods/identify">analytics.js identify</a>
                </td>
            </tr>
            <tr>
                <td>
                    <pre class="prettyprint lang-js">_sqh.push(['init', {
    tenant_alias: 'test_aaaexampleaaa’,


    user_id: 'u1234',

    account_id: 'a5678',

    email: 'joe.tester@@example.com',
    user_image: 'http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50',
    first_name: 'Joe',
    last_name: 'Tester',
    fb_share_image: 'http://www.example.com/logo.png',
    checksum: 'arbPDAcedO38Qw/qdJLCqd2tlRQ='
}]);</pre>
                </td>
                <td>
                    <pre class="prettyprint lang-js">analytics.initialize({
 'SaaSquatch': { tenantAlias: 'test_aaaexampleaaa'
}});

analytics.identify( 'u1234', {
    
    accountId: 'a5678',

    email: 'joe.tester@@example.com',
    avatar: 'http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50',
    firstName: 'Joe',
    lastName: 'Tester',
    referralImage: 'http://www.example.com/logo.png',
    checksum: 'arbPDAcedO38Qw/qdJLCqd2tlRQ='
});</pre>
                </td>
            </tr>

        </table>

        <hr/>
        <h3>How do I use Signed Requests with Segment.io?</h3>
        <p>
            You can still use <a href="/squatchjs/signed-requests">Signed Requests</a> with Segment.io, keeping in mind a few things:
            <ul>
                <li>Include <code>tenant_alias</code> in the checksum</li>
                <li>Omit other analytics.js traits from the checksum, such as Google Analytics ids</li>
                <li>Ordering is based upon <a href="/squatchjs#init">squatch.js init</a> parameters names -- not the analytics.js parameter names! For example, <code>avatar</code> should still be sorted with "u" for <code>user_image</code>.</li>
            </ul>
        </p>


        <hr/>
        <h3>What features are supported with Segment.io?</h3>
        <p>
            Most of the features of SaaSquatch are released immediately for Segment.io. You can always use squatch.js directly to 
            <a href="/squatchjs#open">open</a> or <a href="/squatchjs#close">close</a> the referral widget. There will always be
            some things that will require you to use squatch.js directly.
        </p>
        
        <hr/>
        <h3>Can I used the REST API with Segment.io?</h3>
        <p>
            No, you cannot use the SaaSquatch REST API on the server side with Segment.io. At this time Segment.io is only an abstractions of the squatch.js javascript library.
        </p>
        
        
        <hr/>
        <h3>Where can I find more information?</h3>
        
        <p>
            The source code the integration is straightforward. Check out the <a href="https://github.com/segmentio/analytics.js-integrations/blob/master/lib/saasquatch.js">source code on github</a>.
        </p>



    </section>
}