@main(
    "Shared vs. Solo Accounts",
    "We support both companies with accounts that are shared between users and solo accounts. In other words we support both B2B and B2C."
) {
    <section>
        <div class="page-header">
            <h1>Shared vs. Solo Accounts</h1>
        </div>
        
        <p class="lead">
        We support both companies with accounts that are shared between users and solo accounts. In other words we support both B2B and B2C. This 
        guide explains how to set <code>account_id</code> for both of those cases.
        </p>

        <hr/>
        <h3>What is the difference between Shared and Solo accounts?</h3>
        <p>
            Shared accounts have many users using the same billing information... solo accounts don't. Most B2B apps have multiple users that access the 
            same account, but there is only one bill paid for all of those users. Some examples of apps with shared accounts would be Helpdesk, CRM or collaboration software. 
        </p>
        <p>
            Most B2C apps are solo accounts because everyone pay for their own service. Some examples of solo user account are services like Netflix, Rdio or LinkedIn.
        </p>

        <table class="table">
            <tr>
                <th>
                    <strong>Shared</strong> Account
                </th>
                <td>
                    Multiple users share the same billing information
                </td>
            </tr>
            <tr>
                <th>
                    <strong>Solo</strong> Account
                </th>
                <td>
                    Every user has their own billing
                </td>
            </tr>
        </table>

        <hr/>
        <h3>How does referral credit work with Shared accounts?</h3>
        
        <p>
            Every user in a shared account works towards the same goals. For example, if each referral is worth 10% off, then a shared account can get 100% with 10 referrals from different users;
            Will makes 5 referrals, Jane makes 3 referrals, and Frank makes 2 referrals, for a total of 10.
        </p>
        
        <hr/>
        <h3>How are referral tracked in Shared accounts?</h3>
        
        <p>
            Each user gets their own referral link. Even though Will and Jane both access the same shared account, the referrals they make are tracked seperately. When a new account signs up,
            Referral SaaSquatch links the referral to the first person to sign in.
        </p>

        <hr/>
        <h3>How do I group users into the same account?</h3>
        
        <p>
            When you identify users in <a href="/squatchjs#init">squatch.js init</a> just set the same <code>account_id</code> for all
            users that are part of the same group.
        </p>
        
        <hr/>
        <h3>Can users be part of multiple groups / accounts?</h3>
        
        <p>
            Yes, but don't tell us about it. We require that every user is part of at most one account. This is how we know which account deserves referral credit.
            When you identify a user in <a href="/squatchjs#init">squatch.js init</a> just always set the same <code>account_id</code> for that user. If a user is identified as being
            part of multiple accounts, Referral SaaSquatch create two separate users: one in each account.
        </p>

        <hr/>
        <h3>What if I'm a B2C app and only have Solo accounts?</h3>
        
        <p>
            When you identify users in <a href="/squatchjs#init">squatch.js init</a> you can just set <code>account_id = user_id</code>.
        </p>
        
        <hr/>
        <h3>How is <span class="monospace">account_id</span> different than <span class="monospace">payment_provider_id</span>?</h3>
        <p>
            Both <code>account_id</code> and <code>payment_provider_id</code> are properties of an account, not a user. <code>account_id</code> is 
            your internal identifier and <code>payment_provider_id</code> is used to look up an account in your payment system. If you're using the API 
            integration, then you don't need to worry about <code>payment_provider_id</code>.
        </p>

        <table class="table">
            <tr>
                <th>
                    <code>account_id</code>
                </th>
                <td>
                    Used to groups users into a single account
                </td>
            </tr>
            <tr>
                <th>
                    <code>payment_provider_id</code>
                </th>
                <td>
                    Used to lookup an account in the payment system. E.g. Stripe customer id or Recurly account id
                </td>
            </tr>
        </table>

        <hr/>
        
        <h3>Shared Account Example</h3>

        <p>If you're using shared accounts, use the same <code>account_id</code> for all users in the same group. If an account doesn't exist in your payment system yet, then set <code>payment_provider_id: null</code> for that account.</p>

        <img src="/assets/images/shared_account_example.png" />

<table class="table">
            <tr>
                <th>Will</th>
                <td><pre class="prettyprint lang-json">{   tenant_alias: "test_aaaexampleaaa",
    account_id: "abc",
    payment_provider_id: "cus_f5h"
    email: "will@@example.com",
    first_name: "Will"
    user_id: "1" }</pre>
</td>
            </tr>
            <tr>
                <th>Valerie</th>
                <td><pre class="prettyprint lang-json">{   tenant_alias: "test_aaaexampleaaa",
    account_id: "derf",
    payment_provider_id: null,
    email: "valerie@@example.com",
    first_name: "Valerie"
    user_id: "4" }</pre>
</td>
            </tr>
       </table>
       

        <h3>Solo Account Example</h3>

        <p>
           If you don't have a separate <code>account_id</code> for your user's account, just set <code>account_id == user_id</code>
        </p>
        
        <img src="/assets/images/solo_user_example.png" />

        <p>The code to identify these users:</p>

        <table class="table">
            <tr>
                <th>Frank</th>
                <td><pre class="prettyprint lang-json">{   tenant_alias: "test_aaaexampleaaa",
    account_id: "1",
    email: "frank@@example.com",
    first_name: "Frank"
    user_id: "1" }</pre>
</td>
            </tr>
            <tr>
                <th>Antoine</th>
                <td><pre class="prettyprint lang-json">{   tenant_alias: "test_aaaexampleaaa",
    account_id: "4",
    payment_provider_id: null,
    email: "antoine@@example.com",
    first_name: "Antoine"
    user_id: "4" }</pre>
</td>
            </tr>
       </table>


    </section>
}