@sections.guide(
    "Theming",
    "Referral SaaSquatch can be themed to match your brand. Our theming engine is powered by LESS CSS and Scala templates to provide HTML and CSS customizations."
) {

    <section>
        <div class="page-header">
            <h1>Theming</h1>
        </div>
        
        <p class="lead">
        Referral SaaSquatch can be themed to match your brand. Our theming engine is powered by LESS CSS and Scala templates to provide HTML and CSS customizations.
        </p>
        
        <hr/>
                
        <h3>How does theming work?</h3>
        <p>
            Behind the scenes Referral SaaSquatch theming engine is powered by LESS CSS and Scala HTML templates. We take advantage of a lot of great built-in features to provide
            pixel-perfect cross-device rendering.
        </p>

        <h3>What is supported?</h3>
        <p>
            We want your referral program to match your brand because we know that it will bring you better results. Our default theming lets the colors of our vanilla widget 
            be changed to match your colors. Custom themes are available and are typically reserved for our Enterprise customers.
        </p>

        <h3>Can I removed the "Powered by Referral SaaSquatch"?</h3>
        <p>
            White-labelling is only available to our Enterprise customers, which are companies doing over 5M in annual recurring revenue. If you're an enterprise customer, please
            contact sales at <a href="mailto:sales@@saasquat.ch?Subject=Volume%20Discount">sales@@saasquat.ch</a> and we'd be happy to put a quote together for you.
        </p>

        <h3>What are some examples of custom themes?</h3>
        <p>
            <a href="http://www.geckoboard.com/">Geckoboard</a>, <a href="http://www.getballpark.com/">Ballpark</a> and the 
            <a href="https://play.google.com/store/apps/details?id=com.shoeboxed.android.phonegapapp&hl=en">Shoeboxed Mobile App</a> are three examples of customers using custom themes.
        </p>

        <h3>How much does a custom theme cost?</h3>
        <p>
            Small requests, such a changing fonts and colors, are typically free. Large projects may cost several thousands of dollars. Please contact sales at <a href="mailto:sales@@saasquat.ch?Subject=Volume%20Discount">sales@@saasquat.ch</a>
            and we'd be happy to put a quote together for you.
        </p>
                
        <h3>Why can't I change the theme myself?</h3>
        <p>
            We manually verify every theming request to ensure forward-compatibility. In our previous experience, when we opened up do-it-yourself CSS and HTML we found that it was
            impossible to roll out improvements to our user interface. By having engineers handle theming requests, we can continue to improve your referral program results by
            iterating and improving on the user interface and user experience.
        </p>
        
        
    </section>
}