@main(
    "Zuora Integration",
    "Referral SaaSquatch’s Zuora integration uses the Zuora to automatically track subscriptions and give people discounts. The guide to set up this integration can be accessed by contacting us."
) {

    <section id="zuora">
        <div class="page-header">
            <h1>Zuora Integration</h1>
        </div>
        
        <p class="lead">
        In order to respect Zuora's privacy policies Zuora integration documentation is only available upon request. Please email <a href="mailto:support@@saasquat.ch?subject=Zuora Integration Docs">Support@@SaaSquat.ch</a> for more information.
        </p>

    </section>
}